<!DOCTYPE html>
<html lang="en" style="font-size:50px">
<head>
	
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
	<meta charset="utf-8"/>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
	<meta content="yes" name="apple-mobile-web-app-capable"/>
	<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
	<meta content="telephone=no" name="format-detection"/>
	<meta name="referrer" content="never"/>
	
	<link rel="shortcut  icon" type="image/x-icon" href="../../../static/frontEnd/image/logo/favicon.ico" media="screen" th:href="@{/frontEnd/image/logo/favicon.ico}" /> 
	<!-- 新闻详情页 -->
	<title >iNews-智慧新闻</title>
		
	
	<!-- 引用公共css -->
	<object style="display:none;" th:include="frontEnd/common/common_css :: common_css"></object>
	<!-- Self CSS -->
	<link rel="stylesheet" type="text/css" href="../../../static/frontEnd/css/newsDetail/newsDetail.css" th:href="@{/frontEnd/css/hotNews/apphotnewsDetail.css}" />
	
	<!-- jQuery 2.1.4-->
	<script src="../../../static/common/plugins/jQuery/jQuery-2.1.4.min.js" th:src="@{/common/plugins/jQuery/jQuery-2.1.4.min.js}" ></script>
</head>
<body >
<!-- 	<input type="hidden" id="ctx" th:value="${#httpServletRequest.contextPath+'/'+session.tenant.tenantMark}"/> -->
<input type="hidden" id="context" th:value="${#httpServletRequest.contextPath}"/>
	<input type="hidden" value="" class="taskId"/>
	<input type="hidden" th:value="${webpageCode}" class="webpageCode"/>
	<input type="hidden" th:value="${queryStr}" class="queryStr"/>
	<!-- 主体内容 -->
	<div id="page-content" class="container">
		<div  class="container" style="background:#fff">
			<div class="row">
				<div id="main-content">
					<div class="newsDetailCon ">
							<div class="newsDetailTop">
								<div class='newsDetailConTit clearfix'>
									<h5 class="pull-left" th:remove="body">
										<span>中共中央政治局常务委员会召开会议 习近平发表重要讲话</span>
									</h5>
								</div>
<!-- 								<div class="MainNews" th:remove="body"> -->
<!-- 									<span class="gray">发布时间:</span> -->
<!-- 									<strong >2017-01-10 18:47:50</strong> -->
<!-- 									<span class="gray">来源:</span> -->
<!-- 									<em >新华网新华网新华网新</em> -->
<!-- 									<span class="gray" >爬取来源:</span> -->
<!-- 									<em >中国新闻网</em> -->
<!-- 								</div> -->
							</div>
							<div class="mainNews">
								<span class="newsLogo">智慧新闻</span>
								<span class="newsTime">2017-01-10 18:47:50</span>
								<a href="javascript:viod(0)" class="linkOriginal pull-right" ><i class="fa fa-chain-broken"></i> 原文链接</a>
							</div>
							<div class="newsDetailText">
								<div id="newsContent" th:remove="body">
									<div class="left_zw" style="position:relative">
									<p style="text-align: center;"><strong></strong><strong>中共中央政治局常务委员会召开会议</strong></p>
									<p style="text-align: center;"><strong>听取全国人大常委会、国务院、全国政协、最高人民法院、最高人民检察院党组工作汇报</strong></p>
									<p style="text-align: center;"><strong>听取中央书记处工作报告</strong></p>
									<p style="text-align: center;"><strong>中共中央总书记习近平主持会议</strong></p>
									<p>新华社北京1月10日电 中共中央政治局常务委员会1月10日全天召开会议，听取全国人大常委会、国务院、全国政协、最高人民法院、最高人民检察院党组工作汇报，听取中央书记处工作报告。中共中央总书记<span class='Wikipedia'>习近平</span>主持会议并发表重要讲话。</p>
									<p>会议强调，办好中国的事情，关键在党。中国特色社会主义最本质的特征是中国共产党领导，中国特色社会主义制度的最大优势是中国共产党领导。坚持党的领导首先是坚持党中央集中统一领导。坚持党中央集中统一领导，是全面从严治党、严肃党内政治生活、加强党内监督的重要目的，也是一条根本的政治规矩。要深入学习贯彻党的十八届六中全会精神，严格执行《关于新形势下党内政治生活的若干准则》、《中国共产党党内监督条例》，牢固树立政治意识、大局意识、核心意识、看齐意识，坚持以党的旗帜为旗帜、以党的方向为方向、以党的意志为意志，切实把党中央重大决策部署落实到各项工作中去。</p>
									<p>会议认为，过去的一年，全国人大常委会、国务院、全国政协、最高人民法院、最高人民检察院党组坚持党中央集中统一领导，维护党中央权威，落实全面从严治党责任，规范党内政治生活制度，强化政治领导责任，扎实开展“两学一做”学习教育。坚持围绕中心、服务大局，在贯彻落实党中央重大决策部署上凝神聚焦发力，为推进党和国家各项事业发展、实现“十三五”良好开局作出了积极贡献。</p>
									<p>会议认为，过去的一年，中央书记处认真贯彻党中央决策部署，协助党中央抓全面从严治党，指导群团工作尤其是群团改革，推动一批党内法规文件制定和实施，配合办好一系列重要会议和重大纪念活动，各项工作取得了新成绩。</p>
									<p>会议强调，今年我们将召开党的十九大，也是实施“十三五”规划的重要一年、推进供给侧结构性改革的深化之年。全国人大常委会、国务院、全国政协、最高人民法院、最高人民检察院党组要坚决维护党中央权威，在思想上政治上行动上始终同以习近平同志为核心的党中央保持高度一致，抓好党中央重大决策部署落地生根，确保党中央令行禁止。要扎实做好党中央部署的各项工作，紧紧围绕大局履职尽责，坚持稳中求进工作总基调，着力防范和化解各种风险，促进经济平稳健康发展和社会和谐稳定。要落实全面从严治党责任，严肃党内政治生活，自觉接受党内监督和各方面监督，加强党组自身建设，不断提高党的建设水平。</p>
									<p>会议强调，中央书记处要带头讲政治，坚持正确政治方向，服务大局出谋划策，突出重点抓好落实，不断提高运用科学理论解决实际问题的能力，完成好党中央交办的各项任务。<div id="function_code_page"></div>
									</p></div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>	
	</div>
	
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	
	<!-- Self JS -->
	<script type="text/javascript" src="../../../static/frontEnd/js/static/newsDetail/newsDetail.js" th:src="@{/frontEnd/js/dynamic/hotNews/apphotnewsDetail.js}"></script>
	
	
</body>
</html>
