
.screenTable tbody a{
	display:inline-block;
	width:100%;
	height:100%;
	cursor:pointer;
}
.sourcechooseButton .dropdown-menu{
	left:-3px;
	min-width:inherit;
	margin-top:4px;
}
#threadContent{
	margin-top:8px;
}
.activeBg{
	background:#F44336;
}
.activeBg a{
	color:#fff;
}



