<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="renderer" content="webkit" />
<meta name="keywords" content="iNews,智慧新闻,聚合平台,内容聚合,自然语言处理,新闻舆情,采编助手,新闻分析 ,News,intelligent news" />
	<meta name="description" content="iNews智慧新闻软件是北京荣之联科技股份有限公司自主研发产品，是面向政府、媒体行业推出的智慧化新闻生产服务工具。iNews采用领先的大数据和自然语言处理技术，帮助用户打造优质内容聚合平台，提高内容加工效率和内容质量，促进媒体融合。" />
<link rel="shortcut  icon" type="image/x-icon" href="../../../static/frontEnd/image/logo/favicon.ico" media="screen" th:href="@{/frontEnd/image/logo/favicon.ico}" /> 
<!-- 新闻线索-new -->
<title>iNews-新闻线索</title>

<link rel="stylesheet" type="text/css" href="../../../static/common/plugins/bootstrap-3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../../static/frontEnd/css/common/common.min.css">
	<link rel="stylesheet" type="text/css" href="../../../static/common/plugins/dataTables/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="../../../static/common/plugins/font-awesome-4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="../../../static/common/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<script type="text/javascript" src="../../../static/common/plugins/dataTables/jquery.dataTables.js"></script>
	<script type="text/javascript" src="../../../static/common/plugins/dataTables/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="../../../static/common/plugins/dataTables/dataTables-style.js"></script>
	<script type="text/javascript" src="../../../static/common/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
	
<!-- jquery.dotdotdot JS -->
<script type="text/javascript" src="../../../static/common/plugins/jquery.dotdotdot/jquery.dotdotdot.min.js" th:src="@{/common/plugins/jquery.dotdotdot/jquery.dotdotdot.min.js}"></script>
<!-- 引入公用的插件 注：必须放在最开始的位置 -->
<script type="text/javascript" src="../../../static/frontEnd/js/static/common/common.js" th:remove="all"></script>

<!-- Screen1 CSS -->
<link rel="stylesheet" type="text/css"	href="../../../static/frontEnd/css/newsThread/screen1/css/screen.css"	th:href="@{/frontEnd/css/newsThread/screen1/css/screen.css}" />
<!-- jquery-smartMenu CSS -->
<link rel="stylesheet" type="text/css"	href="../../../static/common/plugins/jquery-smartMenu/css/smartMenu.css"	th:href="@{/common/plugins/jquery-smartMenu/css/smartMenu.css}" />
<!-- daterangepicker CSS -->
<link rel="stylesheet" type="text/css"	href="../../../static/common/plugins/daterangepicker/css/daterangepicker.css"	th:href="@{/common/plugins/daterangepicker/css/daterangepicker.css}" />
<!-- Self CSS -->
<link rel="stylesheet" type="text/css"	href="../../../static/frontEnd/css/newBanfen/newNewsThread.css"	th:href="@{/frontEnd/css/newsThread/newsThread1.css}" />

<!-- scrollSet JS -->
<script type="text/javascript"	src="../../../static/common/plugins/scrollSet/StickyKit.min.js"	th:src="@{/common/plugins/scrollSet/StickyKit.min.js}"></script>
<!-- Screen1 JS -->
<script type="text/javascript"	src="../../../static/frontEnd/js/static/newsThread/screen1/js/screen.js"	th:src="@{/frontEnd/js/dynamic/newsThread/screen1/js/screen.js}"></script>
<!-- jquery-smartMenu JS -->
<script type="text/javascript"	src="../../../static/common/plugins/jquery-smartMenu/js/jquery-smartMenu.min.js"	th:src="@{/common/plugins/jquery-smartMenu/js/jquery-smartMenu.min.js}"></script>
<!-- daterangepicker JS -->
<script type="text/javascript"	src="../../../static/common/plugins/daterangepicker/js/moment.min.js"	th:src="@{/common/plugins/daterangepicker/js/moment.min.js}"></script>
<script type="text/javascript"	src="../../../static/common/plugins/daterangepicker/js/daterangepicker.min.js"	th:src="@{/common/plugins/daterangepicker/js/daterangepicker.min.js}"></script>
<!-- sideUp JS -->
<script type="text/javascript" src="../../../static/frontEnd/js/static/newsThread/sideUp/stickUp.min.js" th:src="@{/frontEnd/js/static/newsThread/sideUp/stickUp.min.js}"></script>
<!-- jquery.dotdotdot JS -->
<script type="text/javascript" src="../../../static/common/plugins/jquery.dotdotdot/jquery.dotdotdot.min.js" th:src="@{/common/plugins/jquery.dotdotdot/jquery.dotdotdot.min.js}"></script>
<!-- Self JS -->
<script type="text/javascript"	src="../../../static/frontEnd/js/static/newBanfen/newNewsThread.js"	th:src="@{/frontEnd/js/dynamic/newsThread/newsThread.js}"></script>
</head>
<body>

	<!-- 头部内容 -->
	<div id="header" th:include="frontEnd/common/header :: header"></div>

	<!-- 主体内容 -->
	<div id="page-content" class="container">
		<div class="container" style="background: #fff">
			<div id="main-content">
				<div class="row">
					<div class="pull-left siderLeftBox col-md-2 col-sm-12 col-xs-12">
						<div class="box p-right p-left">
							<div class="userSider clearfix">
								<div class="navbox">
									<ul class="nav">
										<li class="navItem"><a href="javascript:void(0);">全部</a></li>
										<li class="active navItem "><a href="javascript:void(0);">互联网 <i
												class="fa fa-caret-down"></i></a>
											<ul class="submenu" id="screenSource" th:remove="all-but-first">
												<li th:each="source,detailStat:${sourceList}"><a href="javascript:void(0);" th:text="${source.dataName}" th:id="${source.innerid}">政府组织</a></li>
												<li><a href="javascript:void(0);">新闻门户</a></li>
												<li><a href="javascript:void(0);">传统媒体</a></li>
												<li><a href="javascript:void(0);">社交网站</a></li>
												<li><a href="javascript:void(0);">行业网站</a></li>
												<li><a href="javascript:void(0);">国外媒体</a></li>
											</ul></li>
										<li class="navItem"><a href="javascript:void(0);">内部稿库</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="pull-left col-md-10 col-sm-12 col-xs-12" >
						<!-- 筛选 -->
						<input type="hidden" th:value="${clueId}" id="clueId" />
						<div id="screen">
							<div class="box p-left p-right p-top">
								<div class="box screenCon p-bottom">
									<div class="customAdd">
										<form class="form-inline" role="form" action='javascript:void(0)'>
											<div class="form-group">
												<div class="form-group">
													<select class="form-control timeSelected">
													  	<option selected="selected">全部</option>
													  	<option>最近一天</option>
													  	<option>最近三天</option>
													  	<option>最近一周</option>
													  	<option>最近一月</option>
													  	<option>自定义</option>
													</select>
												</div> 
												<div class="input-group">
													<input class="form-control customAddInput customAddInput" type="text" placeholder="请输入关键词" />
													<div class="input-group-addon btn-red customAddBtn">iSearch</div>
												</div>
												<button type="button"
													class="btn btn-default btn-sm advancedFilter">
													高级筛选 &nbsp;<i class="fa fa-angle-double-up"></i>
												</button>
											</div>
										</form>
										<div class="addMyCustomize pull-right">
											<button class="btn btn-red" type="button">添加我的定制</button>
										</div>
									</div>
									<ul class="select row advancedFilterCon">
										<li class="select-list">
											<dl id="select1" class="dl-horizontal">
												<dt>地区：</dt>
												<div class="selectedBox">
													<dd class="select-all selected">
														<a href="javascript:void(0);">全部</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">国际</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">国内</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">北京</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">天津</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">上海</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">重庆</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">河北</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">山西</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">辽宁</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">吉林</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">江苏</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">浙江</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">安徽</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">福建</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">江西</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">山东</a>
													</dd>
													<dd>
														<a href="javascript:void(0);">河南</a>
													</dd>
													<dd class="regionOther">
														<a href="javascript:void(0);">更多</a>
													</dd>
												</div>
												
											</dl>
											<dl style="display: none;margin-left:40px;">
											</dl>
										</li>
										<li class="select-list">
											<dl id="select4" class="dl-horizontal">
												<dt>分类：</dt>
												<dd class="select-all selected">
													<a href="javascript:void(0);">全部</a>
												</dd>
												<dd th:each="classification,detailStat:${classList}">
													<a href="javascript:void(0);"  th:class="${classification.dataName eq '经济'?'sortDown':''}"><span th:text="${classification.dataName}" th:id="${classification.innerid}">要闻</span>&nbsp;<i class="fa fa-angle-left" th:if="${classification.dataName eq '经济'}"></i></a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">政治</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">经济</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">社会</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">文化</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">生活</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">体育</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">娱乐</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">军事</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">法制</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">教育</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">科技</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">其他</a>
												</dd>
											</dl>
											<dl class="classificationAmb" style="display: none">
											</dl>
										</li>
										<li class="select-list">
											<dl id="select2" class="dl-horizontal">
												<dt>标签：</dt>
												<dd class="select-all selected">
													<a href="javascript:void(0);">全部</a>
												</dd>
												<dd th:each="label,detailStat:${labelList}">
													<a href="javascript:void(0);" th:text="${label.dataName}">头条</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">热议</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">原创</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">转载</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">专题</a>
												</dd>
												<dd th:remove="all">
													<a href="javascript:void(0);">事件</a>
												</dd>
											</dl>
										</li>
										<!-- <li class="select-list">
											<dl id="checkCity" class="dl-horizontal">
												<dt>来源：</dt>
												<dd class="select-all ">
													<input type="text" value="" size="15" id="homecity_name" name="homecity_name" mod="address|notice" mod_address_source="hotel" mod_address_suggest="" mod_address_reference="cityid" mod_notice_tip="中文/拼音" />
													<input id="cityid" name="cityid" type="hidden" value="{$cityid}" />
												</dd>
											</dl>
										</li> -->
									</ul>
								</div>
							</div>
						</div>

						<!-- 数据内容展示 - 本站 -->
						<div id="dataConShow">
							<div class="box p-right p-left p-top">
								<div class="dataConTable">
									<table class="table table-bordered screenTable">
										<tbody>
											<tr>
												<td class="dataConTabTit"><input type="hidden" id = "sortWay"/>排序方式</td>
												<td class="dataSortWays"><a href="javascript:void(0)" th:href="'javascript:sortWay(\'default\')'">默认<i
														class="fa fa-sort-amount-desc"></i></a></td>
												<td class="dataSortWays active" ><a href="javascript:void(0)" th:href="'javascript:sortWay(\'time\')'">时间<i
														class="fa fa-sort-amount-desc"></i></a></td>
												<td class="dataConTabTit">展示方式</td>
												<td class="dataConShowWays active"><a
													href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="列表"><i class='fa fa-align-justify'
														></i></a></td>
												<td class="dataConShowWays "><a
													href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="缩略图"><i class='fa fa-image'
														></i></a></td>
												<td class="dataConShowWays"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
														title="九宫格"><i class='fa fa-th' ></i></a></td>
												<td class="dataConTabTit">展示条数</td>
												<td class="showBranches active"><a href="javascript:void(0)">30</a></td>
												<td class="showBranches"><a href="javascript:void(0)">60</a></td>
												<td class="showBranches"><a href="javascript:void(0)">90</a></td>
												<td class="screenTableClick activeOrange" th:onclick="'showSimilar();'"><input type="hidden" id="showSimilar" value="false" /><a href="javascript:void(0)">相似合并</a></td>
												<td class="refreshButton"><a href="javascript:void(0)"><i class="fa fa-refresh "></i></a></td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="linkLastNewsDataTable" >
									<!-- 数据展示内容 -->
									<div class="dataCountTableCon">
									<table class="table table-bordered dataCountTable">
										<tbody>
											<tr>
												<td><a>共<span class='red' id="queryResultNum">0</span>篇
												</a></td>
												<td th:each="source:${sourceList}"><a><span th:text="${source.dataName}">政府组织</span>(<span
														class='red' th:id="${source.dataName}">0</span>)
												</a></td>
												<td th:remove="all"><a href="javascript:void(0)">新闻门户（<span
														class='red'>0</span>）
												</a></td>
												<td th:remove="all"><a href="javascript:void(0)">传统媒体（<span
														class='red'>0</span>）
												</a></td>
												<td th:remove="all"><a href="javascript:void(0)">传统网站（<span
														class='red'>0</span>）
												</a></td>
												<td th:remove="all"><a href="javascript:void(0)">行业网站（<span
														class='red'>0</span>）
												</a></td>
												<td th:remove="all"><a href="javascript:void(0)">国外媒体（<span
														class='red'>0</span>）
												</a></td>
											</tr>
										</tbody>
									</table>
									</div>
									<!-- 列表的形式展示数据内容 -->
									<div class="dataConBox  p-top ">
										<table class="table table-hover dataConBoxTable">
											<thead>
												<tr>
													<th style="width: 150px">
														ID
													</th>
													<th style="width: 75px;">发布时间</th>
													<th >标题</th>
													<th style="width: 90px;">爬取来源</th>
													<th style="width: 90px;">发稿来源</th>
													<th style="width: 45px;">浏览量</th>
													<th class="center" style="width: 40px;">相似</th>
													<th class="center" style="width: 43px;">相关</th>
												</tr>
											</thead>
											<tbody th:remove="all">
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">3m前</td>
													<td class=" titleRightClick " ><a href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">三路人马分进合击 马拉松破2的新年愿望能实现？</a></td>
													<td class="">环球网</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(5)</td>
													<td>(4)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">8m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															金裕贞出院家中静养 曾因压力性休克入院 </a></td>
													<td class="">信息时报</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(3)</td>
													<td>(2)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">10s前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															各地网约车新政逐步开始实施：再见，低价网约车 </a></td>
													<td class="">澎湃新闻网</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(3)</td>
													<td>(1)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">6m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															一篇文章告诉你：OPPO和vivo怎么就抢了小米的市场 </a></td>
													<td class="">新浪科技</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(4)</td>
													<td>(2)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">6m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															流言揭秘：轻断食+果蔬汁，果真可以甩掉一身小肉肉？ </a></td>
													<td class="">中国新闻网</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(6)</td>
													<td>(6)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">5m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															《春风》曝片花 张一山周冬雨怦然心动 </a></td>
													<td class="">中国新闻网</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(7)</td>
													<td>(4)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">5m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															不惧英国脱欧：Snapchat在伦敦设立国际总部 </a></td>
													<td class="">扬子晚报</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(3)</td>
													<td>(3)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">5m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															外卖员不满投诉给顾客“外卖加屎” 外卖平台展开调查 </a></td>
													<td class="">北京日报</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(4)</td>
													<td>(4)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">4m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															华北制药因雾霾停产1个多月 为治污亏损5493万 </a></td>
													<td class="">北京日报</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(1)</td>
													<td>(1)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">4m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															代驾将车开进水池 滴滴：要么负责修，要么赔1万 </a></td>
													<td class="">北京日报</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(4)</td>
													<td>(4)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">1m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															22个省级“两会”将于1月中旬密集召开  </a></td>
													<td class="">齐鲁晚报</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(8)</td>
													<td>(10)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">4m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															美国一高中800学生同日请病假 疑似诺如病毒引起 </a></td>
													<td class="">美国CNN</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(7)</td>
													<td>(7)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">4m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															军报：郭伯雄徐才厚自恃特殊 严重危害依法治军 </a></td>
													<td class="">参考消息网</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(3)</td>
													<td>(3)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">2m前</td>
													<td class=" titleRightClick "><a
														href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															全新福特GT油耗惊人 平均16.8L领跑业界 </a></td>
													<td class="">参考消息网</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(8)</td>
													<td>(3)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">2m前</td>
													<td class=" titleRightClick"><a href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															养老金现在入市 是否意味着大盘很安全？ </a></td>
													<td class="">央广网</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(1)</td>
													<td>(1)</td>
												</tr>
												<tr>
													<td>
														<input type="checkbox"> 170601_2605_1675
													</td>
													<td class="">1m前</td>
													<td class=" titleRightClick"><a href="javascript:void(0)" class="beyondEllipsis" tabindex="0"  data-toggle="popover">
															“卡特尔”交易员因操纵汇市在美遭起诉  </a></td>
													<td class="">中国经济网</td>
													<td class="">-</td>
													<td>12345</td>
													<td>(9)</td>
													<td>(2)</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- 缩略图的形式展示数据内容 -->
									<div class="dataConThumbnail  hide">
										<table class="table dataConThumbnailTable">
											<thead></thead>
											<tbody th:remove="body">
												<tr>
													<td>
														<div class="media">
															<a class="media-left" href="javascript:void(0);"> <img
																src="../../../static/frontEnd/image/latestNews/1.jpg" 
																alt="..." class="img-thumbnail" />
															</a>
															<div class="media-body">
																<div class="mediaCon pull-left">
																	<h6 class="media-heading">特朗普提高关税之言只是一种谈判筹码？</h6>
																	<p class="mediaConSummary">服了！哈登自曝曾认为德帅疯了:论远见我服他北京时间1月20日，据《露天看台体育》报道，詹姆斯-哈登坦言，当初迈克-德安东尼想让他改打控卫时，他一度以为德帅疯了，但事实证明德帅很有远见。在德安东尼成为火箭主帅后，哈登和他有过一番交谈。当听德帅有意安排自己出任控卫，并相信自己可以成为继1972-73赛季的内特-阿奇巴尔德后，首位单季包揽得分王和助攻王的球员时，哈登的第一反应是“我认为他疯了”。现年65岁的德安东尼坦言，火箭可能是他执教生涯的最后一站。“当你建立了这样的合作关系后，你至少有成功的机会，”德安东尼说，“这并不能保证你一定成功，毕竟很多因素牵扯其中，比如运气什么的，但至少努力想办法获取成功的过程充满乐趣。
																	</p>
																	<p class="mediaConBottom">
																		<em>2345</em> <span>浏览量</span> <i>|</i> <em>2345</em> <span>建稿量</span>
																		<i>|</i> <em>2345</em> <span>采用量</span>
																	</p>
																	<p class="mediaConTag">
																		<span><i class='fa fa-tags'></i></span> <a
																			href="javascript:void">事件</a> <em>|</em> <a
																			href="javascript:void">转载</a> <em>|</em> <a
																			href="javascript:void">头条</a>
																	</p>
																</div>
																<div class="mediaRight pull-right">
																	<ul class="list-group">
																		<li class="list-group-item"><a
																			href="javascript:void">2016-11-29 13:00</a> [发布时间]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [发稿来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [爬取来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">2</a> [相关新闻]</li>
																	</ul>
																	<p >
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-share-square-o"></i>&nbsp;推送
																		</button>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-star-o"></i>&nbsp;收藏
																		</button>
																	</p>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="media">
															<a class="media-left" href="javascript:void(0);"> <img
																src="../../../static/frontEnd/image/latestNews/2.jpg"
																alt="..." class="img-thumbnail" />
															</a>
															<div class="media-body">
																<div class="mediaCon pull-left">
																	<h6 class="media-heading">特朗普提高关税之言只是一种谈判筹码？</h6>
																	
																	<p class="mediaConSummary">新浪美股讯
																		北京时间2日彭博称，候任美国总统特朗普的过渡团队一位成员表示，特朗普威胁上调进口关税实际上是一种谈判筹码，为的是能得到更加公平的贸易协议。
																	</p>
																	<p class="mediaConBottom">
																		<em>2345</em> <span>浏览量</span> <i>|</i> <em>2345</em> <span>建稿量</span>
																		<i>|</i> <em>2345</em> <span>采用量</span>
																	</p>
																	<p class="mediaConTag">
																		<span><i class='fa fa-tags'></i></span> <a
																			href="javascript:void">事件</a> <em>|</em> <a
																			href="javascript:void">转载</a> <em>|</em> <a
																			href="javascript:void">头条</a>
																	</p>
																</div>
																<div class="mediaRight pull-right">
																	<ul class="list-group">
																		<li class="list-group-item"><a
																			href="javascript:void">2016-11-29 13:00</a> [发布时间]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [发稿来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [爬取来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">2</a> [相关新闻]</li>
																	</ul>
																	<p>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-share-square-o"></i>&nbsp;推送
																		</button>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-star-o"></i>&nbsp;收藏
																		</button>
																	</p>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="media">
															<a class="media-left" href="javascript:void(0);"> <img
																src="../../../static/frontEnd/image/latestNews/3.jpg"
																alt="..." class="img-thumbnail" />
															</a>
															<div class="media-body">
																<div class="mediaCon pull-left">
																	<h6 class="media-heading">特朗普提高关税之言只是一种谈判筹码？</h6>
																	
																	<p class="mediaConSummary">新浪美股讯
																		北京时间2日彭博称，候任美国总统特朗普的过渡团队一位成员表示，特朗普威胁上调进口关税实际上是一种谈判筹码，为的是能得到更加公平的贸易协议。
																	</p>
																	<p class="mediaConBottom">
																		<em>2345</em> <span>浏览量</span> <i>|</i> <em>2345</em> <span>建稿量</span>
																		<i>|</i> <em>2345</em> <span>采用量</span>
																	</p>
																	<p class="mediaConTag">
																		<span><i class='fa fa-tags'></i></span> <a
																			href="javascript:void">事件</a> <em>|</em> <a
																			href="javascript:void">转载</a> <em>|</em> <a
																			href="javascript:void">头条</a>
																	</p>
																</div>
																<div class="mediaRight pull-right">
																	<ul class="list-group">
																		<li class="list-group-item"><a
																			href="javascript:void">2016-11-29 13:00</a> [发布时间]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [发稿来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [爬取来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">2</a> [相关新闻]</li>
																	</ul>
																	<p>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-share-square-o"></i>&nbsp;推送
																		</button>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-star-o"></i>&nbsp;收藏
																		</button>
																	</p>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="media">
															<a class="media-left" href="javascript:void(0);"> <img
																src="../../../static/frontEnd/image/latestNews/latestNews1.png"
																alt="..." class="img-thumbnail" />
															</a>
															<div class="media-body">
																<div class="mediaCon pull-left">
																	<h6 class="media-heading">特朗普提高关税之言只是一种谈判筹码？</h6>
																	
																	<p class="mediaConSummary">新浪美股讯
																		北京时间2日彭博称，候任美国总统特朗普的过渡团队一位成员表示，特朗普威胁上调进口关税实际上是一种谈判筹码，为的是能得到更加公平的贸易协议。
																	</p>
																	<p class="mediaConBottom">
																		<em>2345</em> <span>浏览量</span> <i>|</i> <em>2345</em> <span>建稿量</span>
																		<i>|</i> <em>2345</em> <span>采用量</span>
																	</p>
																	<p class="mediaConTag">
																		<span><i class='fa fa-tags'></i></span> <a
																			href="javascript:void">事件</a> <em>|</em> <a
																			href="javascript:void">转载</a> <em>|</em> <a
																			href="javascript:void">头条</a>
																	</p>
																</div>
																<div class="mediaRight pull-right">
																	<ul class="list-group">
																		<li class="list-group-item"><a
																			href="javascript:void">2016-11-29 13:00</a> [发布时间]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [发稿来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [爬取来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">2</a> [相关新闻]</li>
																	</ul>
																	<p>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-share-square-o"></i>&nbsp;推送
																		</button>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-star-o"></i>&nbsp;收藏
																		</button>
																	</p>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="media">
															<a class="media-left" href="javascript:void(0);"> <img
																src="../../../static/frontEnd/image/latestNews/latestNews2.jpg"
																alt="..." class="img-thumbnail" />
															</a>
															<div class="media-body">
																<div class="mediaCon pull-left">
																	<h6 class="media-heading">特朗普提高关税之言只是一种谈判筹码？</h6>
																	
																	<p class="mediaConSummary">新浪美股讯
																		北京时间2日彭博称，候任美国总统特朗普的过渡团队一位成员表示，特朗普威胁上调进口关税实际上是一种谈判筹码，为的是能得到更加公平的贸易协议。
																	</p>
																	<p class="mediaConBottom">
																		<em>2345</em> <span>浏览量</span> <i>|</i> <em>2345</em> <span>建稿量</span>
																		<i>|</i> <em>2345</em> <span>采用量</span>
																	</p>
																	<p class="mediaConTag">
																		<span><i class='fa fa-tags'></i></span> <a
																			href="javascript:void">事件</a> <em>|</em> <a
																			href="javascript:void">转载</a> <em>|</em> <a
																			href="javascript:void">头条</a>
																	</p>
																</div>
																<div class="mediaRight pull-right">
																	<ul class="list-group">
																		<li class="list-group-item"><a
																			href="javascript:void">2016-11-29 13:00</a> [发布时间]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [发稿来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [爬取来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">2</a> [相关新闻]</li>
																	</ul>
																	<p>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-share-square-o"></i>&nbsp;推送
																		</button>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-star-o"></i>&nbsp;收藏
																		</button>
																	</p>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="media">
															<a class="media-left" href="javascript:void(0);"> <img
																src="../../../static/frontEnd/image/latestNews/latestNews3.png"
																alt="..." class="img-thumbnail" />
															</a>
															<div class="media-body">
																<div class="mediaCon pull-left">
																	<h6 class="media-heading">特朗普提高关税之言只是一种谈判筹码？</h6>
																	
																	<p class="mediaConSummary">新浪美股讯
																		北京时间2日彭博称，候任美国总统特朗普的过渡团队一位成员表示，特朗普威胁上调进口关税实际上是一种谈判筹码，为的是能得到更加公平的贸易协议。
																	</p>
																	<p class="mediaConBottom">
																		<em>2345</em> <span>浏览量</span> <i>|</i> <em>2345</em> <span>建稿量</span>
																		<i>|</i> <em>2345</em> <span>采用量</span>
																	</p>
																	<p class="mediaConTag">
																		<span><i class='fa fa-tags'></i></span> <a
																			href="javascript:void">事件</a> <em>|</em> <a
																			href="javascript:void">转载</a> <em>|</em> <a
																			href="javascript:void">头条</a>
																	</p>
																</div>
																<div class="mediaRight pull-right">
																	<ul class="list-group">
																		<li class="list-group-item"><a
																			href="javascript:void">2016-11-29 13:00</a> [发布时间]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [发稿来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [爬取来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">2</a> [相关新闻]</li>
																	</ul>
																	<p>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-share-square-o"></i>&nbsp;推送
																		</button>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-star-o"></i>&nbsp;收藏
																		</button>
																	</p>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="media">
															<a class="media-left" href="javascript:void(0);"> <img
																src="../../../static/frontEnd/image/latestNews/1.jpg"
																alt="..." class="img-thumbnail" />
															</a>
															<div class="media-body">
																<div class="mediaCon pull-left">
																	<h6 class="media-heading">特朗普提高关税之言只是一种谈判筹码？</h6>
																	
																	<p class="mediaConSummary">新浪美股讯
																		北京时间2日彭博称，候任美国总统特朗普的过渡团队一位成员表示，特朗普威胁上调进口关税实际上是一种谈判筹码，为的是能得到更加公平的贸易协议。
																	</p>
																	<p class="mediaConBottom">
																		<em>2345</em> <span>浏览量</span> <i>|</i> <em>2345</em> <span>建稿量</span>
																		<i>|</i> <em>2345</em> <span>采用量</span>
																	</p>
																	<p class="mediaConTag">
																		<span><i class='fa fa-tags'></i></span> <a
																			href="javascript:void">事件</a> <em>|</em> <a
																			href="javascript:void">转载</a> <em>|</em> <a
																			href="javascript:void">头条</a>
																	</p>
																</div>
																<div class="mediaRight pull-right">
																	<ul class="list-group">
																		<li class="list-group-item"><a
																			href="javascript:void">2016-11-29 13:00</a> [发布时间]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [发稿来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [爬取来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">2</a> [相关新闻]</li>
																	</ul>
																	<p>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-share-square-o"></i>&nbsp;推送
																		</button>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-star-o"></i>&nbsp;收藏
																		</button>
																	</p>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="media">
															<a class="media-left" href="javascript:void(0);"> <img
																src="../../../static/frontEnd/image/latestNews/2.jpg"
																alt="..." class="img-thumbnail" />
															</a>
															<div class="media-body">
																<div class="mediaCon pull-left">
																	<h6 class="media-heading">特朗普提高关税之言只是一种谈判筹码？</h6>
																	
																	<p class="mediaConSummary">新浪美股讯
																		北京时间2日彭博称，候任美国总统特朗普的过渡团队一位成员表示，特朗普威胁上调进口关税实际上是一种谈判筹码，为的是能得到更加公平的贸易协议。
																	</p>
																	<p class="mediaConBottom">
																		<em>2345</em> <span>浏览量</span> <i>|</i> <em>2345</em> <span>建稿量</span>
																		<i>|</i> <em>2345</em> <span>采用量</span>
																	</p>
																	<p class="mediaConTag">
																		<span><i class='fa fa-tags'></i></span> <a
																			href="javascript:void">事件</a> <em>|</em> <a
																			href="javascript:void">转载</a> <em>|</em> <a
																			href="javascript:void">头条</a>
																	</p>
																</div>
																<div class="mediaRight pull-right">
																	<ul class="list-group">
																		<li class="list-group-item"><a
																			href="javascript:void">2016-11-29 13:00</a> [发布时间]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [发稿来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [爬取来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">2</a> [相关新闻]</li>
																	</ul>
																	<p>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-share-square-o"></i>&nbsp;推送
																		</button>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-star-o"></i>&nbsp;收藏
																		</button>
																	</p>
																</div>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>
														<div class="media">
															<a class="media-left" href="javascript:void(0);"> <img
																src="../../../static/frontEnd/image/latestNews/3.jpg"
																alt="..." class="img-thumbnail" />
															</a>
															<div class="media-body">
																<div class="mediaCon pull-left">
																	<h6 class="media-heading">特朗普提高关税之言只是一种谈判筹码？</h6>
																	
																	<p class="mediaConSummary">新浪美股讯
																		北京时间2日彭博称，候任美国总统特朗普的过渡团队一位成员表示，特朗普威胁上调进口关税实际上是一种谈判筹码，为的是能得到更加公平的贸易协议。
																	</p>
																	<p class="mediaConBottom">
																		<em>2345</em> <span>浏览量</span> <i>|</i> <em>2345</em> <span>建稿量</span>
																		<i>|</i> <em>2345</em> <span>采用量</span>
																	</p>
																	<p class="mediaConTag">
																		<span><i class='fa fa-tags'></i></span> <a
																			href="javascript:void">事件</a> <em>|</em> <a
																			href="javascript:void">转载</a> <em>|</em> <a
																			href="javascript:void">头条</a>
																	</p>
																</div>
																<div class="mediaRight pull-right">
																	<ul class="list-group">
																		<li class="list-group-item"><a
																			href="javascript:void">2016-11-29 13:00</a> [发布时间]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [发稿来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">新华网</a> [爬取来源]</li>
																		<li class="list-group-item"><a
																			href="javascript:void">2</a> [相关新闻]</li>
																	</ul>
																	<p>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-share-square-o"></i>&nbsp;推送
																		</button>
																		<button type="button" class="btn btn-red btn-sm">
																			<i class="fa fa-star-o"></i>&nbsp;收藏
																		</button>
																	</p>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- 九宫格的形式展示数据内容 -->
									<div class="dataConSudoku  hide ">
										<table class="table dataConSudokuTable" >
											<thead>
											</thead>
											<tbody th:remove="body">
												<tr class="col-md-3 p-right p-left">
													<td>
														<div class="thumbnail">
															<div class="sudokuImg">
																<img alt="..."
																src="" />
															</div>
															<div class="caption">
																<dl class="dl-horizontal">
																	  <dt class="captionTitle">
																	  	<a href="javascript:void">辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日</a>
																	  </dt>
																</dl>
																<p class="sudokuTime">[2016-11-29 13:00]</p>
																<p class="sudokuSummary clearfix">
																	<span>[摘要]</span>
																	新华社沈阳12月2日电（记者罗捷）12月1日起，辽宁全面实施个体工商户“两证整合”登记制度改革。改革首日，805个窗口受理的2171笔登记业务中，2094笔全部当场办结，办结率为97%。
																	805个窗口受理的2171笔登记业务中，2094笔全部当场办结，办结率为97%。
																</p>
																<p class="sudokuBtn">
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-share-square-o"></i>&nbsp;推送
																	</button>
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-star-o"></i>&nbsp;收藏
																	</button>
																</p>
															</div>
															<div class="sudokuShowMore">
																<p class="clearfix m-bottom">

																	<a href="javascript:void(0)" >发稿来源：新华网&nbsp;&nbsp;</a>

																	<a href="javascript:void(0)">爬取来源：新华网</a>
																	<a href="javascript:void(0)" >
																	    <i class="fa fa-bars" tabindex="0" data-toggle="popover" data-placement="top"></i>
																	</a>
																</p>
															</div>
														</div>
													</td>
												</tr>
												<tr class="col-md-3 p-right p-left">
													<td>
														<div class="thumbnail">
															<div class="sudokuImg">
																<img alt="..."
																src="" />
															</div>
															<div class="caption">
																<dl class="dl-horizontal">
																	  <dt class="captionTitle">
																	  <a href="javascript:void">辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日</a>
																	  </dt>
																</dl>
																<p class="sudokuTime">[2016-11-29 13:00]</p>
																<p class="sudokuSummary">
																	<span>[摘要]</span>
																	新华社沈阳12月2日电（记者罗捷）12月1日起，辽宁全面实施个体工商户“两证整合”登记制度改革。改革首日，805个窗口受理的2171笔登记业务中，2094笔全部当场办结，办结率为97%。
																</p>
																<p class="sudokuBtn">
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-share-square-o"></i>&nbsp;推送
																	</button>
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-star-o"></i>&nbsp;收藏
																	</button>
																</p>
															</div>
															<div class="sudokuShowMore">
																<p class="clearfix m-bottom">

																	<a href="javascript:void(0)">发稿来源：新华网&nbsp;&nbsp;</a>

																	<a href="javascript:void(0)" >爬取来源：新华网</a>
																	<a href="javascript:void(0)" >
																	    <i class="fa fa-bars" tabindex="0" data-toggle="popover" data-placement="top"></i>
																	</a>
																</p>
															</div>
														</div>
													</td>
												</tr>
												<tr class="col-md-3 p-right p-left">
													<td>
														<div class="thumbnail">
															<div class="sudokuImg">
																<img alt="..."
																src="../../../static/frontEnd/image/latestNews/1.jpg" />
															</div>
															<div class="caption">
																<dl class="dl-horizontal">
																	  <dt class="captionTitle">
																	  <a href="javascript:void">辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日</a>
																	  </dt>
																</dl>
																<p class="sudokuTime">[2016-11-29 13:00]</p>
																<p class="sudokuSummary clearfix">
																	<span>[摘要]</span>
																	新华社沈阳12月2日电（记者罗捷）12月1日起，辽宁全面实施个体工商户“两证整合”登记制度改革。改革首日，805个窗口受理的2171笔登记业务中，2094笔全部当场办结，办结率为97%。
																</p>
																<p class="sudokuBtn">
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-share-square-o"></i>&nbsp;推送
																	</button>
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-star-o"></i>&nbsp;收藏
																	</button>
																</p>
															</div>
															<div class="sudokuShowMore">
																<p class="clearfix m-bottom">

																	<a href="javascript:void(0)" >发稿来源：新华网&nbsp;&nbsp;</a>

																	<a href="javascript:void(0)" >爬取来源：新华网</a>
																	<a href="javascript:void(0)" >
																	    <i class="fa fa-bars" tabindex="0" data-toggle="popover" data-placement="top"></i>
																	</a>
																</p>
															</div>
														</div>
													</td>
												</tr>
												<tr class="col-md-3 p-right p-left">
													<td>
														<div class="thumbnail">
															<div class="sudokuImg">
																<img alt="..."
																src="../../../static/frontEnd/image/latestNews/1.jpg" />
															</div>
															<div class="caption">
																<dl class="dl-horizontal">
																	  <dt class="captionTitle">
																	  <a href="javascript:void">辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日</a>
																	  </dt>
																</dl>
																<p class="sudokuTime">[2016-11-29 13:00]</p>

																<p class="sudokuSummary clearfix">
																	<span>[摘要]</span>
																	新华社沈阳12月2日电（记者罗捷）12月1日起，辽宁全面实施个体工商户“两证整合”登记制度改革。改革首日，805个窗口受理的2171笔登记业务中，2094笔全部当场办结，办结率为97%。
																</p>
																<p class="sudokuBtn">
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-share-square-o"></i>&nbsp;推送
																	</button>
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-star-o"></i>&nbsp;收藏
																	</button>
																</p>
															</div>
															<div class="sudokuShowMore">
																<p class="clearfix m-bottom">

																	<a href="javascript:void(0)">发稿来源：新华网&nbsp;&nbsp;</a>

																	<a href="javascript:void(0)">爬取来源：新华网</a>
																	<a href="javascript:void(0)" >
																	    <i class="fa fa-bars" tabindex="0" data-toggle="popover" data-placement="top"></i>
																	</a>
																</p>
															</div>
														</div>
													</td>
												</tr>
												<tr class="col-md-3 p-right p-left">
													<td>
														<div class="thumbnail">
															<div class="sudokuImg">
																<img alt="..."
																src="../../../static/frontEnd/image/latestNews/3.jpg" />
															</div>
															<div class="caption">
																<dl class="dl-horizontal">
																	  <dt class="captionTitle">
																	  <a href="javascript:void">辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日</a>
																	  </dt>
																</dl>
																<p class="sudokuTime">[2016-11-29 13:00]</p>
																<p class="sudokuSummary">
																	<span>[摘要]</span>
																	新华社沈阳12月2日电（记者罗捷）12月1日起，辽宁全面实施个体工商户“两证整合”登记制度改革。改革首日，805个窗口受理的2171笔登记业务中，2094笔全部当场办结，办结率为97%。
																</p>
																<p class="sudokuBtn">
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-share-square-o"></i>&nbsp;推送
																	</button>
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-star-o"></i>&nbsp;收藏
																	</button>
																</p>
															</div>
															<div class="sudokuShowMore">
																<p class="clearfix m-bottom">

																	<a href="javascript:void(0)" >发稿来源：新华网&nbsp;&nbsp;</a>

																	<a href="javascript:void(0)">爬取来源：新华网</a>
																	<a href="javascript:void(0)" >
																	    <i class="fa fa-bars" tabindex="0" data-toggle="popover" data-placement="top"></i>
																	</a>
																</p>
															</div>
														</div>
													</td>
												</tr>
												<tr class="col-md-3 p-right p-left">
													<td>
														<div class="thumbnail">
															<div class="sudokuImg">
																<img alt="..."
																src="../../../static/frontEnd/image/latestNews/2.jpg" />
															</div>
															<div class="caption">
																<dl class="dl-horizontal">
																	  <dt class="captionTitle">
																	  <a href="javascript:void">辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日</a>
																	  </dt>
																</dl>
																<p class="sudokuTime">[2016-11-29 13:00]</p>
																<p class="sudokuSummary">
																	<span>[摘要]</span>
																	新华社沈阳12月2日电（记者罗捷）12月1日起，辽宁全面实施个体工商户“两证整合”登记制度改革。改革首日，805个窗口受理的2171笔登记业务中，2094笔全部当场办结，办结率为97%。
																</p>
																<p class="sudokuBtn">
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-share-square-o"></i>&nbsp;推送
																	</button>
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-star-o"></i>&nbsp;收藏
																	</button>
																</p>
															</div>
															<div class="sudokuShowMore">
																<p class="clearfix m-bottom">

																	<a href="javascript:void(0)">发稿来源：新华网&nbsp;&nbsp;</a>

																	<a href="javascript:void(0)">爬取来源：新华网</a>
																	<a href="javascript:void(0)" >
																	    <i class="fa fa-bars" tabindex="0" data-toggle="popover" data-placement="top"></i>
																	</a>
																</p>
															</div>
														</div>
													</td>
												</tr>
												<tr class="col-md-3 p-right p-left">
													<td>
														<div class="thumbnail">
															<div class="sudokuImg">
																<img alt="..."
																src="../../../static/frontEnd/image/latestNews/3.jpg" />
															</div>
															<div class="caption">
																<dl class="dl-horizontal">
																	  <dt class="captionTitle">
																	  <a href="javascript:void">辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日</a>
																	  </dt>
																</dl>
																<p class="sudokuTime">[2016-11-29 13:00]</p>
																<p class="sudokuSummary">
																	<span>[摘要]</span>
																	新华社沈阳12月2日电（记者罗捷）12月1日起，辽宁全面实施个体工商户“两证整合”登记制度改革。改革首日，805个窗口受理的2171笔登记业务中，2094笔全部当场办结，办结率为97%。
																</p>
																<p class="sudokuBtn">
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-share-square-o"></i>&nbsp;推送
																	</button>
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-star-o"></i>&nbsp;收藏
																	</button>
																</p>
															</div>
															<div class="sudokuShowMore">
																<p class="clearfix m-bottom">

																	<a href="javascript:void(0)" >发稿来源：新华网&nbsp;&nbsp;</a>

																	<a href="javascript:void(0)" >爬取来源：新华网</a>
																	<a href="javascript:void(0)" >
																	    <i class="fa fa-bars" tabindex="0" data-toggle="popover" data-placement="top"></i>
																	</a>
																</p>
															</div>
														</div>
													</td>
												</tr>
												<tr class="col-md-3 p-right p-left">
													<td>
														<div class="thumbnail">
															<div class="sudokuImg">
																<img alt="..."
																src="../../../static/frontEnd/image/latestNews/latestNews1.png" />
															</div>
															<div class="caption">
																<dl class="dl-horizontal">
																	  <dt class="captionTitle">
																	  <a href="javascript:void">辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日辽宁“两证整合”改革首日</a>
																	  </dt>
																</dl>
																<p class="sudokuTime">[2016-11-29 13:00]</p>
																<p class="sudokuSummary">
																	<span>[摘要]</span>
																	新华社沈阳12月2日电（记者罗捷）12月1日起，辽宁全面实施个体工商户“两证整合”登记制度改革。改革首日，805个窗口受理的2171笔登记业务中，2094笔全部当场办结，办结率为97%。
																</p>
																<p class="sudokuBtn">
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-share-square-o"></i>&nbsp;推送
																	</button>
																	<button type="button" class="btn btn-red btn-sm">
																		<i class="fa fa-star-o"></i>&nbsp;收藏
																	</button>
																</p>
															</div>
															<div class="sudokuShowMore">
																<p class="clearfix m-bottom">

																	<a href="javascript:void(0)" >发稿来源：新华网&nbsp;&nbsp;</a>

																	<a href="javascript:void(0)">爬取来源：新华网</a>
																	<a href="javascript:void(0)" >
																	    <i class="fa fa-bars" tabindex="0" data-toggle="popover" data-placement="top"></i>
																	</a>
																</p>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 尾部内容 -->
	<footer id="footer" th:include="frontEnd/common/footer :: footer"></footer>
	<!-- checkCity JS -->
	<script type="text/javascript"	src="../../../static/common/plugins/checkCity/fixdiv.js"	th:src="@{/common/plugins/checkCity/fixdiv.js}"></script>
	<script type="text/javascript"	src="../../../static/common/plugins/checkCity/address.js"	th:src="@{/common/plugins/checkCity/address.js}"></script>
</body>
</html>
