<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="referrer" content="never"/>
	<meta name="keywords"  />
	<meta name="description" />
	<link rel="shortcut  icon" type="image/x-icon" href="../../../static/frontEnd/image/logo/favicon.ico" media="screen" th:href="@{/frontEnd/image/logo/favicon.ico}" /> 
	<!-- 新闻详情页 -->
	<title >iNews-智慧新闻</title>
	
	
	<!-- 引用公共css -->
	<object style="display:none;" th:include="frontEnd/common/common_css :: common_css"></object>
		
	<!-- 引用公共js -->
	<object style="display:none;" th:include="frontEnd/common/common_js :: common_js"></object>
	
</head>
<body>
	<input type="hidden" value="" class="taskId"/>
	<input type="hidden" th:value="${webpageCode}" class="webpageCode"/>
	<input type="hidden" th:value="${queryStr}" class="queryStr"/>
	<input type="hidden" th:value="${comment}" class="comment"/>
	
	<!-- 头部内容 -->
	<div id="header" th:include="frontEnd/common/header :: header"></div>
	<!-- 主体内容 -->
	<div id="page-content" class="container">
		<div  class="container" style="background:#fff">
			<div class="row">
				<div id="main-content">
				 <div class="serviceCon">
				 	<h2>服务声明</h2>
				 	<p>iNews新闻智能分析软件（以下简称“本网站”）是北京荣之联科技股份有限公司自主开发的一款新闻搜索服务，致力于为政府、媒体用户提供智慧化新闻搜索服务，本网站采集全网新闻资讯，运用领先的大数据和自然语言处理技术，帮助用户提高搜索信息效率，促进媒体融合。</p>
				 	<p>请用户务必认真阅读和理解本声明中规定的所有权利和限制。除非用户接受本协议条款，否则用户无权使用本网站及相关服务。用户一旦访问或以其它方式使用本网站提供的服务，将视为对本声明的接受，即表示用户同意接受本声明各项条款的约束，且北京荣之联科技股份有限公司将有权利在任何时候更新、修改或补充该软件的服务条款和免责责任，您和您的账户使用者将同时接受更新后的条款和责任。如果用户不同意本声明中的条款，请立即停止使用本网站。</p>
				 	<strong>1. 权利声明</strong>
				 	<p>与本网站有关的一切知识产权（包括但不限于本网站的文字表述及其组合、图标、图像、图表、界面设计、版面框架、附加程序或电子文档等）均为荣之联所有，受著作权法和国际著作权条约以及其他知识产权法律法规的保护。</p>
				 	<strong>2. 权利限制</strong>
				 	<p>2.1 用户不得对本网站进行反向工程、反向编译或反向汇编，同时不得改动编译在程序文件内部的任何资源。</p>
				 	<p>2.2 荣之联通过本网站向用户提供的任何服务不视为荣之联授予用户对外提供本网站相同或相似服务的权利。</p>
				 	<p>2.3 本协议未明示授权的其他一切权利仍归荣之联所有，用户使用其他权利时必须事先获得荣之联的书面同意。</p>
				 	<strong>3. 用户使用须知</strong>
				 	<p>3.1 本网站提供的服务： </p>
				 	<p>(1) 本网站提供新闻线索、热点发现、媒体头条、新闻日历等相关功能（以下简称“本服务”）。</p>
				 	<p>(2) 本服务是对公开数据源信息进行智能化的整合、对比、分析并在本网站上做集中客观的展示，前述数据源信息的著作权归原作者和/或发表机构，不代表荣之联立场。</p>
				 	<p>(3)用户理解并同意，荣之联向用户所收取的费用是用户使用本网站，由荣之联在用户与数据源之间传递信息并提供上述服务而收取的服务费，任何情况下荣之联所收取的费用均不视为荣之联出售信息、数据的费用。</p>
				 	<p>3.2 用户应该对使用本网站的结果自行承担风险，本网站所刊载的任何信息（包括但不限于原文、标题、摘要、分类、关键词等），完全基于系统技术、数据源结构、内容之现状进行相应整合、对比、分析，并提供检索服务，目的在于方便用户查询、使用，但荣之联不作任何形式的保证：不保证本服务搜索结果满足用户的要求，亦不保证所提供任何信息的准确性、及时性、有效性、完整性、安全性、合法性。</p>
				 	<p>3.3链接内容仅供用户个人阅读，任何转载和引用，将注明原版权所有人，且不得用于商业应用。如果用户要对链接内容进行分享、转载、下载、二次编辑等，需经原作者授权并同意。</p>
				 	<p>3.4 本网站账号与保管</p>
				 	<p>(1) 用户有义务对用户的用户名和密码进行妥善保管，用户应对任何人利用用户的本网站帐号所进行的活动负完全的责任。如果用户发现用户的用户名受到他人非法使用时，应当立即通知本网站。由于用户疏于保管或黑客行为等原因造成的用户名、密码丢失及相应的损失均由用户自行承担。</p>
				 	<p>(2) 如果用户注册的用户名出现下列任何情况之一，荣之联有权在不事先通知用户的情况下拒绝用户的注册和/或冻结、删除该账号并暂停和/或终止为用户提供本服务：</p>
				 	<p>1)本网站发现或者有理由怀疑使用用户的用户名的使用者并非帐号初始注册人；</p>
				 	<p>2) 本网站发现或者有理由怀疑用户提供的公司资料不真实、不准确或者过时而未更新；</p>
				 	<p>3) 用户在登录后出现操作范围、检索次数、检索范围数量等达到本网站规定的限制条件，或本网站认为属于超越合理使用范畴；</p>
				 	<p>(3) 用户应当对以用户的用户名在本网站发生或者与本网站相关的所有活动和事件承担全部法律责任。</p>
				 	<p>(4)本网站账号以及用户名所有权归荣之联。用户同意与注册、使用本网站相关的一切资料、数据和记录，包括但不限于用户名、注册信息、所有登录、消费记录和相关的使用统计数字等归荣之联所有。发生争议时，用户同意以荣之联的系统数据为准，荣之联保证该数据的真实性。</p>
				 	<p>3.5 荣之联保留随时为用户提供本网站的维护、修改、升级版本的权利。由于用户原因不升级本网站版本而导致不能正常使用本服务的，则一切后果由用户自行负责，荣之联不承担任何责任。</p>
					<p>3.6 用户不得故意或者过失的损害荣之联的各类合法权益，不得利用本网站从事非法用途，任何违法行为都将受到法律的制裁。用户使用本网站必须遵守中华人民共和国有关法律法规以及本协议，并不得有损害他人（国家）利益的任何行为。用户无权实施包括但不限于下列行为： </p>
					<p>(1) 删除或者修改本网站上的任何信息；</p>
					<p>(2) 故意避开或者破坏荣之联为保护本网站著作权而采取的技术措施；</p>
					<p>(3) 利用本网站误导、欺骗他人；</p>
					<p>(4) 破坏本网站系统或本网站的正常运行；</p>
					<p>(5) 为任何非法目的而使用本网站；</p>
					<p>(6) 恶意注册本网站账号；</p>
					<p>(7) 对本网站提供的本服务任何部分或使用本服务而获得的任何信息进行复制、拷贝、出售、转售或用于任何其它商业目的；</p>
					<p>(8) 故意制作、传播计算机病毒等破坏性程序，盗取其他用户账户、密码、隐私、操控他人电脑的；</p>
					<p>(9) 其他违反法律法规或本协议规定的行为。</p>
					<strong>4. 免责与责任限制</strong>
					<p>4.1 用户根据自身需求自愿选择使用本网站及本服务，因使用本网站及本服务所存在的风险和一切后果将完全由用户自行承担，荣之联不承担任何责任。</p>
					<p>4.2 荣之联对由于政府禁令、现行生效的适用法律或法规的变更、火灾、地震、动乱、战争、停电、通讯线路中断、黑客攻击、计算机病毒侵入或发作、电信部门技术调整、因政府管制而造成网站的暂时性关闭等任何影响网络正常运营的不可预见、不可避免、不可克服和不可控制的事件以及他人蓄意破坏、荣之联工作人员的疏忽、正常的系统维护、系统升级，或者因网络拥塞而导致本网站不能访问而造成的本网站所提供的信息及数据的延误、停滞或错误，以及用户由此受到的一切损失不承担任何责任。</p>
					<p>4.3 荣之联力求向用户所提供的信息资料来自可信赖的合理渠道，属客观如实反映，但并不表明荣之联对其持赞同或反对之立场，不保证其适合于用户任何特定的用途，更不代表专业性法律意见或法律咨询，用户均应自行判断所浏览及获取信息的价值，并在与正式文件、司法文书核对后慎重使用，并自行承担法律后果和责任。</p>
					<p>4.4本网站搜集的内容均为互联网上公开发布的新闻内容资讯。所有内容的版权和知识产权属于版权所有者（包括广播电视台、报社、通讯社、杂志社、记者、编辑、 摄影师或相关商业合作伙伴），本网站所刊载的任何信息仅供用户参考使用。用户参阅本网站所刊载任何信息的行为，应被视为已确认得悉前述立场。荣之联致力于不断完善和改进服务，但并不保证本网站提供的本服务绝无错误或遗漏或故障、永不中断、永不终止及不受其它影响，用户对此完全理解并同意。在任何情况下，用户使用本网站查询、浏览、下载、分享、转载、制作任何信息和服务或以其他形式获取荣之联提供的任何信息，均自行承担风险，由此而导致的各种利润、商誉、投资、资料、财产损失或其他无形损失及不利后果，荣之联不承担任何责任。</p>
					<p>4.5 当司法机关或其他有权机关依照法定程序要求荣之联披露用户向荣之联提供的资料时，荣之联将根据执法单位之要求或为公共安全之目的提供用户资料。在此情况下之任何披露，荣之联不承担任何责任。</p>
					<p>4.6 由于用户将本网站账号以及账号密码告知他人，由此导致的任何资料泄露，荣之联不承担任何责任。任何由于黑客攻击、计算机病毒侵入或发作而造成的个人资料泄露、丢失、被盗用或被窜改等，荣之联不承担任何责任。</p>
					<p>4.7 本网站中可能包含指向其他网站或资源的超链接，用户通过这些链接访问任何其他网站或资源所造成之任何损失及由此而导致的任何法律争议和后果，均应由用户自行承担责任，与荣之联无关。</p>
					<p>4.8 荣之联保留随时对本网站进行修改、维护或中断本服务而无须事先通知用户的权利。对于修改、维护本网站或中断本服务而造成的任何损失，荣之联无需对用户或第三方承担任何责任。</p>
					<strong>5. 隐私条款</strong>
					<p>5.1 荣之联尊重并致力于保护用户的隐私权，但在本网站账号注册或使用某些服务时，用户需提交验证信息，以便于荣之联核实用户是否有资格使用本网站所提供的本服务，以及能更好的为用户提供服务和技术支持。</p>
					<p>5.2 如果用户在注册时向本网站提供了相关信息，荣之联郑重承诺将在提供服务时保护用户的信息。</p>
					<p>5.3浏览本网站时，本网站将记录用户的访问信息，用于计费及统计用途：</p>
					<p>(1) 用户帐号和登录密码；</p>
					<p>(2) 用户的服务器地址；</p>
					<p>(3) 用户访问本网站的日期、持续时间和次数；</p>
					<p>(4) 用户访问的页面和下载的文档；</p>
					<p>(5) 用户使用的浏览器类型。</p>
					<strong>6. 其他条款</strong>
					<p>6.1 用户违反本协议规定，荣之联有权采取包括但不限于中断、终止使用许可、停止提供本服务、限制使用本服务、追究法律责任等措施。</p>
					<p>6.2 如果本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，或违反任何适用的法律，则该条款被视为删除，但本协议的其余条款仍有效并且有约束力。</p>
					<p>6.3 荣之联有权随时根据有关法律、法规的变化以及公司经营状况和经营策略的调整等修改本协议而无须事先通知用户。荣之联将会通过电子邮件或本网站内部消息通知用户并提示修改内容，如果用户继续使用本网站，则视为用户接受本协议的变动。如果用户不同意改动的内容，则用户应立即停止使用本网站。</p>
					<p>6.4 荣之联在法律允许的最大范围内对本协议拥有解释权。</p>
					<p class="right">北京荣之联科技股份有限公司</p>
					<p class="right">2018年 3月12 日</p>
				 </div>
				

				
				</div>
			</div>
		</div>	
	</div>
	<!-- 尾部内容 -->
	<footer id="footer" th:include="frontEnd/common/footer :: footer"></footer><!-- 引入公用的插件 注：必须放在最开始的位置 -->
	<script type="text/javascript" src="../../../static/frontEnd/js/static/common/common.js" th:remove="all"></script>
	
	
	<!-- Self CSS -->
	<link rel="stylesheet" type="text/css" href="../../../static/frontEnd/css/newsDetail/newsDetail.css" th:href="@{/frontEnd/css/common/service.css}" />
	<!-- Self JS -->
	<script type="text/javascript" src="../../../static/frontEnd/js/static/newsDetail/newsDetail.js" th:src="@{/frontEnd/js/dynamic/common/service.js}"></script>
	
</body>
</html>
