.changepswbox{
	margin-top: 7%;
	margin-bottom: 30px;
	box-shadow: 0 0 10px #ccc;
	padding:25px 0px;
}
.popover-content{
	white-space:nowrap;
	padding-right:25px;
}
.popover-content img{
	width:16px;
}