
.moreOperate .btn{
	padding:4px 12px;
}
.moreOperate{
	margin-top:10px;
}
.moreOperate button.active{
	background:#F44336;
}
.moreOperate button.active a{
	color:#fff;
}

.defaultImg{
	width:100px;
}

