
.form_datetime{
/* 	float:right; */
	position:absolute;
	margin-left:5px;
	display:inline-block;
	width:200px;
	height:30px;
}
.more-btn{
	margin-top:10px;
/* 	position:absolute; */
/* 	right:0px; */
/* 	text-align:right; */
	margin-bottom:8px;
}
.more-btn .btn{
	padding:4px 10px;
}


