/* 头部标题 */
.content-header h5{
    padding-left:8px;
    border-left: 5px solid #00c0ef;
}
table tbody>tr>td:first-child{
    text-indent: 10px;
}
.btn{
    padding:3px 10px;
    border-radius: 0px;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
    padding: 4px;
    vertical-align: middle;
}
.mailbox-messages{
    overflow: visible;
    padding-right: 10px;
    padding-left: 10px;
}
.box-header.with-border{
    border:0px;
    overflow: hidden;
}
table thead>tr{
    background: #f9f9f9;
}
.box-header>.box-tools{
    top:11px;
}

/* 用户角色权限设置 */
#jurConfigure  .modal-body{
    padding: 8px 10px;
    margin-left: 15px;
    margin-right: 15px;
}
#jurConfigure  .modal-body .jurConfigureTit{
    margin-bottom: 8px;
}
#jurConfigure  .modal-body .jurConfigureLeft p,
#jurConfigure  .modal-body .jurConfigureRight p{
    border-left:3px solid #00c0ef;
    padding-left: 6px;
    background: #f9f9f9;
    padding-top:6px;
    padding-bottom: 6px;
}
.jurConfigureMi{
    padding-top: 7%;
}
#multiselect,
#multiselect_to{
    height: 274px;
}
#multiselect option,
#multiselect_to option{
    border-bottom:1px solid #eee;
    padding-top:6px;
    padding-bottom: 6px;
}
.jurConfigureBotton{
    text-align: center;
    margin-top: 20px;
}
.jurConfigureBotton button{
    margin-right: 10px;
}
#brxmDiv{
    display: inline-block;
    font-size: 12px;
    text-align: right;
    width:100px;
    height: 60px;
}
#brxmSelect{
    height: 110px;
}
#brxmSelect option{
    height: 24px!important;
    line-height: 24px!important;
}