<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uec.web.recommend.dao.NewsRecommendEntityMapper">
  <resultMap id="BaseResultMap" type="com.uec.web.recommend.model.NewsRecommendEntity">
    <id column="innerid" jdbcType="INTEGER" property="innerid" />
    <result column="recommend_type" jdbcType="INTEGER" property="recommendType" />
    <result column="webpage_code" jdbcType="VARCHAR" property="webpageCode" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="ranking" jdbcType="INTEGER" property="ranking" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="tenant_id" jdbcType="INTEGER" property="tenantId" />
    <result column="recommend_datetime" jdbcType="TIMESTAMP" property="recommendDatetime" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="update_datetime" jdbcType="TIMESTAMP" property="updateDatetime" />
  </resultMap>
  <sql id="Base_Column_List">
    innerid, recommend_type, webpage_code, score, ranking, user_id, tenant_id, recommend_datetime, 
    create_datetime, update_datetime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from news_recommend
    where innerid = #{innerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from news_recommend
    where innerid = #{innerid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uec.web.recommend.model.NewsRecommendEntity">
    insert into news_recommend (innerid, recommend_type, webpage_code, 
      score, ranking, user_id, 
      tenant_id, recommend_datetime, create_datetime, 
      update_datetime)
    values (#{innerid,jdbcType=INTEGER}, #{recommendType,jdbcType=INTEGER}, #{webpageCode,jdbcType=VARCHAR}, 
      #{score,jdbcType=REAL}, #{ranking,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{tenantId,jdbcType=INTEGER}, #{recommendDatetime,jdbcType=TIMESTAMP}, #{createDatetime,jdbcType=TIMESTAMP}, 
      #{updateDatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.uec.web.recommend.model.NewsRecommendEntity">
    insert into news_recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="innerid != null">
        innerid,
      </if>
      <if test="recommendType != null">
        recommend_type,
      </if>
      <if test="webpageCode != null">
        webpage_code,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="ranking != null">
        ranking,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="tenantId != null">
        tenant_id,
      </if>
      <if test="recommendDatetime != null">
        recommend_datetime,
      </if>
      <if test="createDatetime != null">
        create_datetime,
      </if>
      <if test="updateDatetime != null">
        update_datetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="innerid != null">
        #{innerid,jdbcType=INTEGER},
      </if>
      <if test="recommendType != null">
        #{recommendType,jdbcType=INTEGER},
      </if>
      <if test="webpageCode != null">
        #{webpageCode,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=REAL},
      </if>
      <if test="ranking != null">
        #{ranking,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="recommendDatetime != null">
        #{recommendDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDatetime != null">
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null">
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uec.web.recommend.model.NewsRecommendEntity">
    update news_recommend
    <set>
      <if test="recommendType != null">
        recommend_type = #{recommendType,jdbcType=INTEGER},
      </if>
      <if test="webpageCode != null">
        webpage_code = #{webpageCode,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=REAL},
      </if>
      <if test="ranking != null">
        ranking = #{ranking,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="tenantId != null">
        tenant_id = #{tenantId,jdbcType=INTEGER},
      </if>
      <if test="recommendDatetime != null">
        recommend_datetime = #{recommendDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="createDatetime != null">
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null">
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where innerid = #{innerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uec.web.recommend.model.NewsRecommendEntity">
    update news_recommend
    set recommend_type = #{recommendType,jdbcType=INTEGER},
      webpage_code = #{webpageCode,jdbcType=VARCHAR},
      score = #{score,jdbcType=REAL},
      ranking = #{ranking,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      tenant_id = #{tenantId,jdbcType=INTEGER},
      recommend_datetime = #{recommendDatetime,jdbcType=TIMESTAMP},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP}
    where innerid = #{innerid,jdbcType=INTEGER}
  </update>
</mapper>