<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uec.web.dao.RoleEntityMapper">
  <resultMap id="BaseResultMap" type="com.uec.web.model.RoleEntity">
    <id column="innerid" jdbcType="INTEGER" property="innerid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_datetime" jdbcType="TIMESTAMP" property="createDatetime" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    innerid, name, create_datetime, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from role
    where innerid = #{innerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from role
    where innerid = #{innerid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.uec.web.model.RoleEntity">
    insert into role (innerid, name, create_datetime, 
      description)
    values (#{innerid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createDatetime,jdbcType=TIMESTAMP}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uec.web.model.RoleEntity">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="innerid != null">
        innerid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createDatetime != null">
        create_datetime,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="innerid != null">
        #{innerid,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uec.web.model.RoleEntity">
    update role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createDatetime != null">
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where innerid = #{innerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uec.web.model.RoleEntity">
    update role
    set name = #{name,jdbcType=VARCHAR},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR}
    where innerid = #{innerid,jdbcType=INTEGER}
  </update>
</mapper>