.screen{
	position:relative;
}
.screen .screenCon{
	display:inline-block;
}
.screen .addDicBtn{
	position:absolute;
	top:0px;
	right:0px;
}
.screen .screenCon .form-control{
	height:30px !important; 
	padding:0px 10px !important;
}
.mainContent{
	margin-top:10px;
}
.dictionaryTable{
	border-top:2px solid #EAEAEA;
/* 	margin-top:10px; */
}
table.dataTable thead th, table.dataTable thead td{
	border-bottom:0px !important;
}
.dictionaryTable tbody td:nth-child(7){
	text-align:center;
}
.mustRed{
	color:#F44336;
}
.errorInp{
	border:1px solid #F44336 !important;
}