@media ( max-width: 768px ){
	.newsDetailBottom div.newsDetailKeys .dl-horizontal dd{
		margin-left:0px !important;
	}
	.textLink{
		width:100%
	}
	.textLink a{
		word-wrap:break-word;
		display:inline-block;
		width:100%;
	}
	.dl-horizontal dt{
		float:left;
		overflow:hidden;
		clear:left;
		text-overflow:ellipsis;
		white-space:nowrap;
	}
	.newsDetailCon .newsDetailTop .newsDetailConTitRight{
		width:100%;
		margin:0px !important;
		position:initial !important;
		margin-bottom:10px !important;
	}
	.newsDetailConTit h5{
		width:100%;
	}
}
.newsDetailCon{
	padding-right:20px;
}
.newsDetailCon .newsDetailTop .MainNews{
	position:relative;
	margin-bottom:5px;
}
.newsDetailCon .newsDetailTop .MainNews i,
.newsDetailCon .newsDetailTop .MainNews em,
.newsDetailCon .newsDetailTop .MainNews strong{
	font-style: normal;
	font-weight: normal;
}
.newsDetailCon .newsDetailTop .MainNews em{
	margin-right:10px;
	color: #666;
}
.newsDetailCon .newsDetailTop .MainNews strong{
	color: #666;
	margin-right: 10px;
}
.newsDetailCon .newsDetailTop .MainNews .linkOriginal{
	color:#597894;
}
.newsDetailCon .newsDetailTop .newsDetailConTitRight{
	margin: 10px;
	position: absolute;
	right: 0px;
	bottom: 0px;
}
.newsDetailConTitRight a.active{
	color:#F44336;
}
.newsDetailCon .newsDetailTop .newsDetailConTit{
	position: relative;
}
.newsDetailCon .newsDetailTop .newsDetailConTit h5{
	font-size:22px;
	line-height: 1.5em;
	width:75%;
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	margin-bottom:5px;
}

.Wikipedia{
	color: blue;
}

.toggle .open{
	color: #f00
}
.toggle .close1,
.opened .toggle .open
{
	display: none;
}
.toggle .opened,
.opened .toggle .close1
{
	display: inline;
	color: #f44336;
}
.newsDetailSummary{
	font-size: 14px;
	margin-top:8px;
	border:1px solid #f2f2f2;
	padding:8px 10px;
	background:#f9fafa;
	line-height:28px;
}
.newsDetailSummary .summaryLabel{
	color: #666;
	margin-right: 5px;
	font-weight:bold;
}
.newsDetailSummary p.summaryCon{
	display: inline-block;
	margin-bottom: 0px;
	font-size:15px;
}
/* 宸︿晶-姝ｆ枃 */
.newsDetailText{
	padding-left:8px;
	padding-right:8px;
	margin-top:10px;
	font-size:18px;
	overflow:hidden;
}
.newsDetailText p{
	text-indent: 2em;
	line-height:32px;
	margin-top:25px;
}
.newsDetailText br{
	display:block;
}
.newsDetailText p>br{
	display:none;
}
.newsDetailText .uec_inews_picture_group_description,
.newsDetailText .pic_content{
	line-height:40px;
}
/* 宸︿晶-搴曢儴 */
.newsDetailBottom{
	background: #eee;
	padding:4px;
	margin-top:10px;
}
.newsDetailBottom p.newsID{
	margin: 5px 0px;
}
.newsDetailBottom p{
	margin:0px;
}
div.newsDetailKeys{
	margin-bottom: 5px;
}
div.newsDetailKeys .dl-horizontal dt{
	width:66px;
	font-weight:normal;
}
div.newsDetailKeys .dl-horizontal dd{
	margin-left:64px;
	width:100%
}
div.newsDetailKeys .dl-horizontal dd div{
	display:inline;
}
div.newsDetailKeys .dl-horizontal dd span.label{
	display:inline-block;
	margin-bottom:2px;
}
div.newsDetailKeys p{
	display: inline-block;
}
.newsDetailBottom span,
.newsDetailBottom a,
.btn-link{
	color: #666;
}
.newsDetailBottom .bottomBox{
	background: #fff;
	padding:6px 8px;
}
.newsDetailBottom a:hover{
	color: #F44336;
}
.btn-link:hover{
	color: #F44336;
	text-decoration: none;
}

/* 鍙充晶-瀹炰綋璇�*/
.entityWord{
	margin-top:10px;
}
.listLabel{
	margin-bottom: 5px;
}
.entityWord .listPer .listLabel .dl-horizontal dt{
	width: 70px;
}
.entityWord .listPer .listLabel .dl-horizontal dt a.set{
	color: #000;
	box-shadow: none;
	border:0px;
	font-weight: normal;
}
.entityWord .listPer .listLabel .dl-horizontal dt a.set:hover{
	background: none;
}
.entityWord .listPer .listLabel .dl-horizontal dd{
	margin-left: 75px;
}
/* 鍙充晶-鐩稿叧鍐呭*/
.newsDetailRelative .changeRelativeCon{
	margin: 5px;
	text-align: right;
	cursor: pointer;
	font-size:12px;
}
.newsDetailRelative .changeRelativeCon:hover{
	color:#F44336;
}
.newsDetailRelative ul.relativeList{

}
.newsDetailRelative ul.relativeList li{
	padding:6px 8px;
	border-bottom:1px solid #ddd;
}
.newsDetailRelative ul.relativeList li dl{
	margin-bottom: 0px;
}
.newsDetailRelative ul.relativeList li dt{
	width: 41px;
	text-align: left;
}
.newsDetailRelative ul.relativeList li dd{
	width: 85%;
	margin-left:45px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}
.newsDetailRelative ul.relativeList li dd a:hover{
	color:#F44336;
}
.interrelatedImgItem{
	margin-top:5px;
}
.interrelatedImgItem .interrelatedImgItemImg{
	width:100%;
	height:120px;
	line-height:120px;
	margin-bottom:0px;
	text-align:center;
}
.interrelatedVideoItemVideo{
	text-align:center;
}
.interrelatedImgItem img{
	/* 	display:block; */
	max-height:120px;
}
.interrelatedImgItem .defaultImg{
	height:50px;
}
.interrelatedImgItem a,
.interrelatedVideoItem a{
	display: block;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 7px 10px;
}
.interrelatedImgItem a:hover,
.interrelatedVideoItem a:hover{
	color:#F44336;
}
/* 姝ｈ礋闈㈠姣�-鏉″舰鍥� */

.progress_bar .pro-bar {
	background: hsl(0, 0%, 97%);
	box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.1) inset;
	height:4px;
	margin-bottom: 12px;
	margin-top: 25px;
	position: relative;
}
.progress_bar .progress_bar_title{
	color: #333;
	font-size: 15px;
	font-weight: 300;
	top: -28px;
	z-index: 1;
}
/*.progress_bar .progress_number{*/
	/*position:absolute;*/
	/*left:47%;*/
	/*top:-24px;*/
/*}*/

.progress_bar .progress-bar-inner {
	background-color: hsl(0, 0%, 88%);
	display: block;
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: width 1s linear 0s;
	animation: animate-positive 2s;
}
.progress_bar .progress-bar-inner:before {
	content: "";
	background-color: hsl(0, 0%, 100%);
	border-radius: 50%;
	width: 4px;
	height: 4px;
	position: absolute;
	right: 1px;
	top: 0;
	z-index: 1;
}
.progress_bar .progress-bar-inner:after {
	content: "";
	width: 14px;
	height: 14px;
	background-color: inherit;
	border-radius: 50%;
	position: absolute;
	right: -4px;
	top: -5px;
}
@-webkit-keyframes animate-positive{
	0% { width: 0%; }
}
@keyframes animate-positive{
	0% { width: 0%; }
}
/* 姝ｈ礋闈㈠姣�-姝ｈ礋鏂囧瓧 */
.bothSidesData .bothSidesTit{
	display: inline-block;
	width:50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border:1px solid #ddd;
	border-radius: 50px;
	box-shadow:1px 2px 8px rgba(0,0,0,.2);
}
.bothSidesData .bothSidesTit span{
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #F44336;
	border-radius: 40px;
	font-size: 16px;
	color: #fff;
}
.bothSidesData .bothSidesF span{
	background: #ddd;
}

/* 姝ｈ礋闈㈠姣� */
.bothSidesData{
	margin-bottom: 10px;
	margin-top:5px;
}

#UEC_iNews_picture_group{
	margin-bottom: 10px;
}



.newsContent img{
	display: inline-block;
	margin: 0px auto;
}

.textLinkTop p{
	margin-top:5px;
	margin-bottom:0px;
	color:#939393;
}
.textLinkTop p a{
	color:#F44336;
	text-decoration:underline;
	font-style:oblique;
}
/* .textLinkTop p a:hover{
	color:#F44336
} */


/* 改变文章字体 */
.changeFontStyle{
	position:absolute;
	top:-1px;
	right:10px;
	display:inline-block;
}
.changeFontStyle form{
	display:inline-block;
}
.changeFontStyle label{
	font-weight:normal;
	margin-bottom:0px;
	margin-left:5px;
}
.changeFontStyle select{
	width:45px;
	height:20px;
	padding-top:0px;
	padding-bottom:0px;
	font-size:12px;
}

.summaryCon p{
	margin:0px;
	text-indent:2em;
}
.newsDetailConTitRight{
	margin-right:5px;
	cursor:pointer;
}

.textLink a{
	display:inline-block;
	width:500px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

/*组图*/
.uec_inews_picture_group_images{
	margin:0px 25px;
}

span.label-status{
	position:absolute;
	font-size:22px;
	top:9px;
}

/*分享*/
.socialShare{
	display:block;
	overflow:hidden;
	width:100px;
}
.socialShare .msb_network_button{
	display:inline-block;
	width: 45px;
	height: 45px;
	/* position: absolute; */
	z-index: 1;
	cursor: pointer;
	text-indent: -9999px;
	background: no-repeat;
	border: 6px solid #f5f5f5;
	border-radius: 50%;
}
.socialShare .msb_network_button.weixin {
	background: url(../../image/social.png) no-repeat -73px -87px;
	margin-right:10px;
}
.socialShare .msb_network_button.sina {
	background: url(../../image/social.png) no-repeat -130px -87px;
}


#weixinModal .modal-dialog{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50%;
	margin-top: -150px;
}

/* 评论分析 */
.analysisCon{
	margin-top:10px;
	display:inline-block;
}
.analysisCon .analysisBtn{
	padding:4px 10px;
	margin-right:10px;
}
.analysisDetail{
	display:inline-block;
}
.analysisDetail p{
	display:inline-block;
	margin-right:20px;
}
/* 热门评论词 */
.hotCommentWord .hotCommentWordCon{
	margin-top:10px;
	border:1px solid #eee;
	padding:4px;
	margin-bottom: 10px;
}
.hotCommentWord #hotCWEcharts{
	box-shadow: 0px 0px 10px #eee inset;
}

table.commentHotConTable1 thead th{
	padding:0px !important;
}
table.commentHotConTable2 thead th{
	padding:0px !important;
}
/* 网络评论统计 */
.bcon{ border:1px solid #eee; margin:15px auto;}
.bcon h1{ border-bottom:1px solid #eee; margin:0px;}
.bcon h1 b{ font:14px/40px 'Microsoft Yahei';  padding:0 8px; margin-top:-1px; display:inline-block;cursor:pointer;}
.bcon h1 b.active{border-top:2px solid #F44336;color: #F44336;cursor:pointer;}
.bcon h1 span em.emon{ width:10px; height:10px; background:#F44336; border:none;}
.list1{ width:100%; overflow:hidden; display:none;}

.reportCountBox .list1{
	position: relative;
}
.reportCountBox .trendChart{
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 5px;
	cursor: pointer;
	z-index: 10;
}

.textLinkTop p{
	margin-top:5px;
	margin-bottom:0px;
	color:#939393;
}
.textLinkTop p a{
	color:#F44336;
	text-decoration:underline;
	font-style:oblique;
}


/* 评论 */
.commentHotCon{
	margin-top:8px;
}
.commentHotCon .dataTables_wrapper .dataTables_info{
	margin-top:5px;
}
.commentHotCon .pagination{
	margin-bottom:0px;
}
.commentHotCon table.dataTable.no-footer{
	border-bottom: 1px solid #ddd
}
.commentHotCon table th,
.commentHotCon table td{
	text-indent: 0px;
}
.commentHotCon table.dataTable thead th{
	padding: 0px;
	border-bottom: 0px;
}
.commentHotCon table.dataTable tbody td{
	padding:0px 10px;
	padding-left:0px;
}
.commentHotCon table.dataTable tbody tr:first-child td{
	border-top:0px;
}
.commentHotCon table.table .commentHotConBox{
	position: relative;
	margin:5px;
	margin-left:40px;
	margin-right: 0px;
	padding:3px 6px;
	border-top:1px solid #eee;
	/* background: #fbfcfc; */
	box-shadow: 0 1px 2px rgba(0,0,0,.15),
	0 1px 0 rgba(255,255,255,.75) inset;
}
.commentHotCon table.table .commentHotConBox .commentHotConIcon{
	padding:5px;
	width: 36px;
	height: 36px;
	/* box-shadow:1px 2px 8px rgba(0,0,0,.1) inset; */
	background: #fbfcfc;
	border-radius: 46px;
	border:1px solid #939393;
	text-align: center;
}
.commentHotCon table.table .commentHotConBox  .commentHotConIconBg{
	position: absolute;
	top:10px;
	left:-30px;
	clear: both;
	background: #fff;
	width: 50px;
	height: 50px;
	border-radius: 46px;
	padding:7px;
	border-right: 1px solid #ddd;
}
.commentHotCon dt{
	width:25px;
	text-align: left;
}
.commentHotCon dd .WB_text{
	line-height:22px;
}
.commentHotCon dd .WB_text a{
	color:#f5960e
}
.commentHotCon dd{
	margin-left:25px;
}

.commentHotCon table.table p{
	margin-bottom: 5px;
	color: #666;
	font-weight: normal;
}
.commentHotCon table.table p i{
	margin-right:5px;
}
.commentHotCon table.table p em{
	font-style:normal;
	margin:0px 10px;
}

/* 相关评论 */
.relativeComment .listPer .listLabel{
	margin-bottom: 6px;
}
.relativeComment .listPer .listLabel a{
	margin-right: 0px;
}
.relativeComment .listPer .listLabel .dl-horizontal dt{
	width: 70px;
}
.relativeComment .listPer .listLabel .dl-horizontal dt a.set{
	color: #fec200;
	/* 	color:#ff6600; */
	box-shadow: none;
	border:0px;
	font-weight: normal;
}
.relativeComment .listPer .listLabel .dl-horizontal dt a.set:hover{
	background: none;
}
.relativeComment .listPer .listLabel .dl-horizontal dd{
	margin-left: 75px;
}
/*标签样式修改*/
.box .box-header h2{font-size: 16px;padding: 8px 18px 5px 25px;background-color: #DE2F37;background:linear-gradient(135deg,transparent 8px,#DE2F37 0) top left;display: inline-block;margin-left:-4px;margin-bottom:0px;color: #fff;}
.box .box-header h3{margin-top:0px;margin-left:-4px;border-bottom:3px solid #DE2F37}

.bothSides .qgIndex{position:relative;background:url(../../image/qg.png) no-repeat center center;height:20px;background-size:374px 20px;}
.bothSides .index{display:flex;justify-content:space-between;color:#A0A0A0;}
.bothSides .progress_number{left:10px;display: inline-block;margin-bottom:8px;margin-top:5px;margin-left:180px;}
.bothSides .qgIndex span{position:absolute;left:270px;top:-5px;background-color:white;box-shadow:0px 0px 2px 2px rgba(0,0,0,0.1);display:inline-block;width:2px;height:30px;}
.listLabel a span{
	color: #FF5600;
	box-sizing: border-box;
	border-color:#FF5701;
}
.listLabel a span:hover{
	background:none;
	color:#FF5600;
	cursor: default;
}
/*可点击标签样式*/
.listLabel a span.modal_incident:hover{
	background:#FF5600;
	color:#fff;
	cursor:pointer;
}
.label-orange-bg{
	background:#fff;
	color:#FF6411!important;
	border:1px solid #FF5702;
	font-weight: bold;
}
.label-red-bg{
	background:#fff;
	color:#FF6411!important;
	border:1px solid #FF5702;
	font-weight:bold;
}
.listLabel a{
	border:1px solid #FF6B20;
}