table.table{
	table-layout: fixed;
}
table th, table td{
	text-indent:0px !important;
}

a.beyondEllipsis{
	height:21px;
	line-height:25px;
}
.dataTables_info{
	margin-top:5px;
}
.table_bottom_left{
	padding-right:0px;
	width:30%;
}
.table_bottom_right{
	padding-left:0px;
	width:70%;
}

.relativeNewsTable tbody td:nth-child(6){
	text-align:center;
}
.relativeNewsTable tbody td:nth-child(5){
	text-align:center;
}

table.dataTable thead th, 
table.dataTable thead td{
	padding:10px 8px;
}
table.dataTable tbody th, 
table.dataTable tbody td{
	padding:3px 8px;
}