<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="keywords" content="iNews,智慧新闻,聚合平台,内容聚合,自然语言处理,新闻舆情,采编助手,新闻分析 ,News,intelligent news" />
	<meta name="description" content="iNews智慧新闻软件是北京荣之联科技股份有限公司自主研发产品，是面向政府、媒体行业推出的智慧化新闻生产服务工具。iNews采用领先的大数据和自然语言处理技术，帮助用户打造优质内容聚合平台，提高内容加工效率和内容质量，促进媒体融合。" />
	<link rel="shortcut  icon" type="image/x-icon" href="../../../static/frontEnd/image/logo/favicon.ico" media="screen" th:href="@{/frontEnd/image/logo/favicon.ico}" /> 
	<!-- 我的定制 -->
	<title>iNews-编辑定制</title>
	
	<!-- 引用dataTables -->
	<object style="display:none;" th:include="frontEnd/common/common_dataTables :: common_dataTables"></object>

	<!-- 引入公用的插件 注：必须放在最开始的位置 -->
	<script type="text/javascript" src="../../../static/frontEnd/js/static/common/common.js" th:remove="all"></script>

	<!-- Self CSS -->
	<link rel="stylesheet" type="text/css" href="../../../static/frontEnd/css/myCustom/addMyCustom.css"  th:href="@{/frontEnd/css/myCustom/addMyCustom.css}" />
	<!-- Self JS -->
	<script type="text/javascript" src="../../../static/frontEnd/js/static/myCustom/addMyCustom.js" th:src="@{/frontEnd/js/dynamic/myCustom/editCustom.js}"></script>
</head>
<body>
	<div class="dingzhiContent">
		<div class="box myCustom">
			  <!-- Tab panes -->
			  <div class="tab-content">
				<!-- 通用 -->
			    <div role="tabpanel" class="tab-pane active" id="home">
			    	<div class="row">
				 		<div class="col-md-8">
				 			<form class="form-horizontal" action="javascript:void(0)">
								<div class="form-group">
							    	<label for="inputEmail3" class="col-sm-2 control-label">定制名称</label>
							    	<div class="col-sm-10">
							      		<input type="text" class="form-control" id="addCustomName" placeholder="请输入定制名称"/>
							    	</div>
							  	</div>
							    <div class="form-group">
							    	<label for="inputPassword3" class="col-sm-2 control-label"><span class="red">* </span>关键词组</label>
							    	<div class="col-sm-8 keywordsBox">
							      		<input type="text" class="form-control" id="addKeyWordInput" data-position='1' placeholder="请输入关键词组，并以逗号隔开"/>
							    		<p class="text-muted">注：可定制多个关键词组，匹配任意一组关键词的新闻都属于线索</p>
							    	</div>
							    	<div class="col-sm-2 p-left">
							    		<input type="hidden" value='0'/>
							    		<button class="btn btn-default addKeyword" data-show='false'><i class="fa fa-plus"></i> 关键词组</button>
							    	</div>
							    </div>
							  	<div class="form-group">
							    	<label  class="col-sm-2 control-label">来源</label>
							    	<div class="col-sm-10">
							      		<div class="listLabel" id="source" data-position='6'>
							      			<input type="hidden" value='0'/>
										</div>
							    	</div>
							  	</div>
							  	<div class="form-group contentSort">
							    	<label for="inputEmail3" class="col-sm-2 control-label">分类</label>
							    	<div class="col-sm-10" >
							      		<div class="listLabel sortTitle" id="classification" data-position='7'>
							      			<input type="hidden" value='0'/>
										</div>
							    	</div>
							  	</div>
							  	<div class="form-group">
							    	<label for="inputEmail3" class="col-sm-2 control-label">地区</label>
							    	<div class="col-sm-10">
							      		<div class="listLabel" id="map" data-position='8'>
							      			<input type="hidden" value='0'/>
										</div>
							    	</div>
							  	</div>
							</form>
				 		</div>
						<div class="col-md-4 ">
							<div class="already-add">
								<h4>已定制条件</h4>
							</div>
							<div class="alreadyCon" >
							</div>
						</div>
						<div class="col-sm-offset-4 col-sm-8">
							<div class="form-group">
						      	<button class="btn btn-red conserve" type="submit" >保存</button>
						      	<button class="btn btn-default reset" type="submit">重置</button>
						  	</div>
						</div>
				 	</div>
			    </div>
			  </div>
			
		
		 	<!-- Modal -->
			<div class="modal fade" id="probationCommon" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-body">
			        <p style="text-align:center;margin-bottom:0px">是否将修改的条件试用于通用条件？</p>
			        <p style="text-align:center;margin-bottom:0px">根据您定制的条件生成线索！</p>
			        <div style="margin-top:10px;text-align:right">
			        	<button type="button" class="btn btn-red btn-sm" data-dismiss="modal">确定</button>
			        	<button type="button" class="btn btn-default btn-sm">取消</button>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
			
			
			
		</div>
	</div>
</body>
</html>