<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>专题管理</title>
	<!-- Self CSS-->	
	<link rel="stylesheet" type="text/css" href="../../../static/backEnd/css/newsTopic/topicManage.css">
	<!-- Self JS -->
	<script type="text/javascript" src="../../../static/backEnd/js/static/newsTopic/topicManage.js"></script>
</head>
<body>
	<section class="content-header">
		<h5 class="m-all">
          新闻专题管理
        </h5>
	</section>
	<section class="content">
		<div class="box p-right p-left">
			<div class="box box-primary">
                <div class="box-header with-border">
                	<h6 class="box-title">专题列表</h6>
                	<div class="box-tools pull-right">
	                    <div class="has-feedback">
	                      	<input type="text" class="form-control input-sm" placeholder="专题搜索">
	                      	<span class="glyphicon glyphicon-search form-control-feedback"></span>
	                    </div>
	                    <button type="button" class="btn btn-primary addTopic">新建专题</button>
	                </div>
                </div>
                <div class="box-body">
                	<table class="table table-hover topicTable">
                		<thead>
                			<tr>
                				<th>编号</th>
                				<th>专题名称</th>
                				<th>专题时间区间</th>
                				<th>专题板块</th>
                				<th>专题类型</th>
                				<th>专题新闻数量</th>
                				<th>操作</th>
                			</tr>
                		</thead>
                		<tbody>
                			<tr>
                				<td>234</td>
                				<td>王宝强离婚案</td>
                				<td>
                					<span>2016-08-24</span>
                					至
                					<span>2016-12-12</span>
                				</td>
                				<td>11111</td>
                				<td>娱乐</td>
                				<td>1234</td>
                				<td>
	                          		<div class="btn-group">
									  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    操作 <span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu">
									    	<li><a href="#">修改</a></li>
									    	<li><a href="#">删除</a></li>
									  	</ul>
									</div>
	                          	</td>
                			</tr>
                			<tr>
                				<td>234</td>
                				<td>王宝强离婚案</td>
                				<td>
                					<span>2016-08-24</span>
                					至
                					<span>2016-12-12</span>
                				</td>
                				<td>11111</td>
                				<td>娱乐</td>
                				<td>1234</td>
                				<td>
	                          		<div class="btn-group">
									  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    操作 <span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu">
									    	<li><a href="#">修改</a></li>
									    	<li><a href="#">删除</a></li>
									  	</ul>
									</div>
	                          	</td>
                			</tr>
                			<tr>
                				<td>234</td>
                				<td>王宝强离婚案</td>
                				<td>
                					<span>2016-08-24</span>
                					至
                					<span>2016-12-12</span>
                				</td>
                				<td>11111</td>
                				<td>娱乐</td>
                				<td>1234</td>
                				<td>
	                          		<div class="btn-group">
									  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    操作 <span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu">
									    	<li><a href="#">修改</a></li>
									    	<li><a href="#">删除</a></li>
									  	</ul>
									</div>
	                          	</td>
                			</tr>
                			<tr>
                				<td>234</td>
                				<td>王宝强离婚案</td>
                				<td>
                					<span>2016-08-24</span>
                					至
                					<span>2016-12-12</span>
                				</td>
                				<td>11111</td>
                				<td>娱乐</td>
                				<td>1234</td>
                				<td>
	                          		<div class="btn-group">
									  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    操作 <span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu">
									    	<li><a href="#">修改</a></li>
									    	<li><a href="#">删除</a></li>
									  	</ul>
									</div>
	                          	</td>
                			</tr>
                			<tr>
                				<td>234</td>
                				<td>王宝强离婚案</td>
                				<td>
                					<span>2016-08-24</span>
                					至
                					<span>2016-12-12</span>
                				</td>
                				<td>11111</td>
                				<td>娱乐</td>
                				<td>1234</td>
                				<td>
	                          		<div class="btn-group">
									  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    操作 <span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu">
									    	<li><a href="#">修改</a></li>
									    	<li><a href="#">删除</a></li>
									  	</ul>
									</div>
	                          	</td>
                			</tr>
                			<tr>
                				<td>234</td>
                				<td>王宝强离婚案</td>
                				<td>
                					<span>2016-08-24</span>
                					至
                					<span>2016-12-12</span>
                				</td>
                				<td>11111</td>
                				<td>娱乐</td>
                				<td>1234</td>
                				<td>
	                          		<div class="btn-group">
									  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    操作 <span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu">
									    	<li><a href="#">修改</a></li>
									    	<li><a href="#">删除</a></li>
									  	</ul>
									</div>
	                          	</td>
                			</tr>
                			<tr>
                				<td>234</td>
                				<td>王宝强离婚案</td>
                				<td>
                					<span>2016-08-24</span>
                					至
                					<span>2016-12-12</span>
                				</td>
                				<td>11111</td>
                				<td>娱乐</td>
                				<td>1234</td>
                				<td>
	                          		<div class="btn-group">
									  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    操作 <span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu">
									    	<li><a href="#">修改</a></li>
									    	<li><a href="#">删除</a></li>
									  	</ul>
									</div>
	                          	</td>
                			</tr>
                			<tr>
                				<td>234</td>
                				<td>王宝强离婚案</td>
                				<td>
                					<span>2016-08-24</span>
                					至
                					<span>2016-12-12</span>
                				</td>
                				<td>11111</td>
                				<td>娱乐</td>
                				<td>1234</td>
                				<td>
	                          		<div class="btn-group">
									  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									    操作 <span class="caret"></span>
									  	</button>
									  	<ul class="dropdown-menu" role="menu">
									    	<li><a href="#">修改</a></li>
									    	<li><a href="#">删除</a></li>
									  	</ul>
									</div>
	                          	</td>
                			</tr>
                		</tbody>
                	</table>
                </div>
            </div>
        </div>
	</section>
</body>
</html>