<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<link rel="shortcut  icon" type="image/x-icon" href="../../../static/frontEnd/image/logo/favicon.ico" media="screen" th:href="@{/frontEnd/image/logo/favicon.ico}" /> 
	<!-- 相似、相关、事件媒体 -->
	<title>日历新闻列表</title>
	<!-- 引用公共css -->
	<object style="display:none;" th:include="frontEnd/common/common_css :: common_css"></object>
		
	<!-- 引用公共js -->
	<object style="display:none;" th:include="frontEnd/common/common_js :: common_js"></object>
	
	<!-- 引用dataTables -->
	<object style="display:none;" th:include="frontEnd/common/common_dataTables :: common_dataTables"></object>
	<!-- 引入公用的插件 注：必须放在最开始的位置 -->
	<script type="text/javascript" src="../../../static/frontEnd/js/static/common/common.js" th:remove="all"></script>
	<!-- Self CSS -->
	<link rel="stylesheet" type="text/css" href="../../../static/frontEnd/css/newsCalendar/calendarList.css" th:href="@{/frontEnd/css/newsCalendar/calendarList.css}"/>
	<!-- Self JS -->
	<script type="text/javascript" src="../../../static/frontEnd/js/static/newsCalendar/calendarList.js" th:src="@{/frontEnd/js/dynamic/newsCalendar/calendarList.js}"></script>
</head>
<body>
	<input type="hidden" th:value="${datetime}" class="calendarTimeVal"/>
	<!-- 头部内容 -->
	<div id="header" th:include="frontEnd/common/header :: header"></div>
	<!-- 主体内容 -->
	<div id="page-content"  class="container">
		<div class="container" style="background:#fff">
			<div class="row">
				<div id="main-content">
					<div class="col-md-12 col-sm-12">
						<div class="relativeNewsCon box p-right p-left">
							<div class="box-header header-vimeo">
								<h2>日历新闻列表</h2>
							</div>
							
							<div id="operateGroup"  th:include="frontEnd/common/operateGroup :: operateGroup"></div>
							
							<table class="table table-hover searchesTable">
								<thead>
									<tr>
										<th style="width:18px"></th>
										<th style="width: 83px" class="center">发布时间</th>
										<th>标题</th>
										<th style="width: 150px">标签</th>
										<th style="width:45px" class="center">相似</th>
										<th style="width:45px" class="center">相关</th>
										<th style="width: 60px" class='center'>QG指数</th>
										<th style="width:50px" class='center'>浏览量</th>
										<th style="width: 40px;" class='center'>操&nbsp;作</th>
									</tr>
								</thead>
								<tbody th:remove="body">
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-10 18:34</td>
										<td >
											<a href="javascript:void(0)" class="beyondEllipsis">中共中央政治局常务委员会召开会议</a>
										</td>
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="red">80%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-10 16:38 </td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">习近平将对瑞士进行国事访问、出席世界经济论坛年会并访问瑞士国际组织	</a>
										</td>
										
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="red">80%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-11 03:57</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">习近平主持中共中央政治局常委会会议</a>
										</td>
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="red">80%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-11 05:57</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">习近平将对瑞士进行国事访问、出席世界经济论坛2017年年会并访问瑞士国际组织</a>
										</td>
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="red">80%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-01 07:00</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">全面从严治党如何向纵深发展，习近平这样布局 </a>
										</td>
										
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="green">10%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-01 12:52</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">世界期待分享中国经验——国际人士瞩目习近平主席2017年首次出访</a>
										</td>
										
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="green">8%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-01 13:25</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">习近平主持中共中央政治局常委会会议</a>
										</td>
										
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="gray">60%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-01 13:25</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">习近平主持中共中央政治局常委会会议</a>
										</td>
										
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="red">70%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-01 13:25</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">习近平主持中共中央政治局常委会会议</a>
										</td>
										
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="green">20%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-01 13:25</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">习近平主持中共中央政治局常委会会议</a>
										</td>
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="red">68%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr><tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-01 13:25</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">习近平主持中共中央政治局常委会会议</a>
										</td>
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="red">70%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
									<tr>
										<td>
											<span class="check-box check-child checked"><i class="fa fa-check"></i></span>
										</td>
										<td>01-01 13:25</td>
										<td>
											<a href="javascript:void(0)" class="beyondEllipsis">习近平主持中共中央政治局常委会会议</a>
										</td>
										<td>头条、热点</td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td><a href="javascript:void(0)" th:href="@{/gotoRelativeNews}">(2)</a></td>
										<td class="red">80%</td>
										<td>12345</td>
										<td class="inewsOperation"><i class="fa fa-heart-o" data-toggle="tooltip" data-placement="top" title="收藏"></i> <i class="fa fa-file-text-o" data-toggle="tooltip" data-placement="top" title="建稿"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 尾部内容 -->
	<footer id="footer" th:include="frontEnd/common/footer :: footer"></footer>
</body>
</html>