<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="keywords" content="iNews,智慧新闻,聚合平台,内容聚合,自然语言处理,新闻舆情,采编助手,新闻分析 ,News,intelligent news" />
	<meta name="description" content="iNews智慧新闻软件是北京荣之联科技股份有限公司自主研发产品，是面向政府、媒体行业推出的智慧化新闻生产服务工具。iNews采用领先的大数据和自然语言处理技术，帮助用户打造优质内容聚合平台，提高内容加工效率和内容质量，促进媒体融合。" />
	<link rel="shortcut  icon" type="image/x-icon" href="../../../static/frontEnd/image/logo/favicon.ico" media="screen" th:href="@{/frontEnd/image/logo/favicon.ico}" /> 
	<!-- 新闻日历 -->
	<title>iNews-新闻日历</title>
	<!-- 引用公共css -->
	<object style="display:none;" th:include="frontEnd/common/common_css :: common_css"></object>
		
	<!-- 引用公共js -->
	<object style="display:none;" th:include="frontEnd/common/common_js :: common_js"></object>
<!-- 引入公用的插件 注：必须放在最开始的位置 -->
<script type="text/javascript"	src="../../../static/frontEnd/js/static/common/common.js" th:remove="all"></script>

<!-- fullcalendar CSS -->
<link rel="stylesheet" type="text/css"	href="../../../static/common/plugins/fullcalendar/fullcalendar.min.css" th:href="@{/common/plugins/fullcalendar/fullcalendar.min.css}"/>
<!-- Self CSS -->
<link rel="stylesheet" type="text/css"	href="../../../static/frontEnd/css/newsCalendar/newsCalendar.css" th:href="@{/frontEnd/css/newsCalendar/newsCalendar.css}" />


</head>
<body>
	<!-- 头部内容 -->
	<div id="header" th:include="frontEnd/common/header :: header"></div>
	<!-- 主体内容 -->
	<div id="page-content" class="container">
		<div  class="container" style="background:#fff">
			<div class="row">
				<div id="main-content">
					<div class="col-md-12">
						<div class="box p-left p-right">
							<div id="calendar"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- loading图  -->
	<!--<div class="loading" id="loading" style="font-size:60px;color:#F44336;display:none;position:absolute;top:50%;left:50%;z-index:9999;">-->
		<!--<i class="fa fa-spinner spinner"/>-->
	<!--</div>-->
	<div class="loading-zhe"><i class="fa fa-spinner ico_loading" aria-hidden="true"
								style="color:white;font-size: 50px;"></i></div>
	<!-- 尾部内容 -->
	<footer id="footer" th:include="frontEnd/common/footer :: footer"></footer>
	<!-- fullcalendar JS -->
<script type="text/javascript" src="../../../static/common/plugins/fullcalendar/moment.min.js" th:src="@{/common/plugins/fullcalendar/moment.min.js}" ></script>
<script type="text/javascript" src="../../../static/common/plugins/fullcalendar/fullcalendar.min.js" th:src="@{/common/plugins/fullcalendar/fullcalendar.min.js}" ></script>
<!-- Self JS -->
<script type="text/javascript" src="../../../static/frontEnd/js/static/newsCalendar/newsCalendar.js" th:src="@{/frontEnd/js/dynamic/newsCalendar/newsCalendar.js}"></script>
</body>
</html>