.btn{
	padding:4px 10px;
	border-radius: 0px;
}
.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td{
	padding: 4px;
	vertical-align: middle;
}
.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th{
	text-indent: 0px;
}
/* 顶部标题 */
.content-header h5{
	padding-left:8px;
	border-left: 5px solid #00c0ef;
}
/* 专题列表 */
.box-tools div.has-feedback{
	display: inline-block;
}
.box-header .box-title{
	font-size: 14px;
}
